dist/pug/layouts/fixed-panel-flow/fixed-right-section.html

<!-- FIXED PANEL FLOW RIGHT SECTION START-->
<div class="col-8">
  <div class="bg-white bx-shadow" id="sticky-content">
    <section class="sectionRight mt-5">
      <!-- CONTENT SECTION-->
      <div class="row">
        <div class="col-8">
          <h3 class="fnt-md fnt-semibold">Description</h3>
          <p class="py-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel augue sem. Donec ut lacinia nibh. Aenean volutpat aliquam imperdiet. Vesti sed nibh eros. Etiam posuere ipsum fermentum, malesuada risus quis, suscipit odio. Aliquam vitae magna quam. In lobortis diam ut nulla ultricies tincidunt. Curabitur varius mauris ligula.</p>
        </div>
        <div class="col-4 px-2">
          <div class="d-flex align-items-start justify-content-end">
            <div class="next--download"><a class="d-inline-flex" href="javascript:void(0)"><img class="btnMove img-fluid" src="img/icons/download.svg" alt="download"/></a></div>
            <button class="button button-primary button--flow fnt-xs" type="button" data-toggle="modal" data-target="#requestFixed">Request Quote</button>
            <!-- Request Quote Popup-->
            <div class="modal fade" id="requestFixed" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header"> 
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body px-5 pt-1">
                    <h5 class="fnt-semibold black5f">Quote requested</h5>
                    <p class="my-2">Thank you for submitting your request</p>
                    <p class="pb-4">Someone from the Mission Bio team will get in touch with you shortly.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- PANEL SUMMERY-->
      <div class="row my-3">
        <div class="col-3">
          <h3 class="fnt-md fnt-semibold">Panel Summary</h3>
        </div>
        <div class="col-9 d-flex justify-content-end align-items-center">         
          <div class="col-6 pl-md-0 searchbox d-flex">
            <input class="w-100 fnt-xs" type="text" placeholder="Search target name or ID" name="search"/>
          </div>
          <!-- START PAGINATION-->
          <nav class="float-right pagiNav" aria-label="Page navigation">
            <ul class="pagination align-items-center">
              <li class="page-item"><a class="text-center page-link" href="#" aria-label="Previous"><img class="page-link--left img-fluid" src="img/icons/arrow01.svg"/></a></li>
              <li class="page-item fnt-xs">
                <div class="ui selection dropdown form-dropdown pagi-dropdown text-center">
                  <input type="hidden" name="DataStatus"/>
                  <div class="defualt text">Rows <span class="displayValue">10 </span>of <span class="totalValue">100</span></div>
                  <div class="menu hidden">
                    <div class="item text-center" data-value="1-10">10</div>
                    <div class="item text-center" data-value="20">20</div>
                    <div class="item text-center" data-value="30">30</div>
                    <div class="item text-center" data-value="40">40</div>
                  </div>
                </div>
              </li>
              <li class="page-item"><a class="page-link" href="#" aria-label="Next"><img class="img-fluid" src="img/icons/arrow01.svg"/></a></li>
            </ul>
          </nav>
          <!-- END PAGINATION-->
        </div>
      </div>
      <!-- TABLE SECTION-->
      <!-- Catalog PANEL FLOW TABLE START-->
      <table class="table table--small table-striped" cellspacing="0">
        <thead>
          <tr>
            <th scope="col">Target Name
              <div class="custom-icon icon-arrow-combo fnt-xxs"></div>
            </th>
            <th scope="col">ID
              <div class="custom-icon icon-arrow-combo fnt-xxs"></div>
            </th>
            <th scope="col">No. of Amplicons</th>
            <th scope="col">Coverage</th>
            <th scope="col">UCSC Link</th>
          </tr>
        </thead>
        <tbody class="tbody">
          <tr>
            <td class="fnt-xs blueSky fnt-semibold fnt-semibold">ABC</td>
            <td class="fnt-xs">NM_000155(GAA):RTSH2</td>
            <td class="fnt-xs">15 bp</td>
            <td class="fnt-xs">100%</td>
            <td class="fnt-xs"><a class="link" href="javascript:void(0)">link</a></td>
          </tr>
          <tr>
            <td class="fnt-xs blueSky fnt-semibold">DEF</td>
            <td class="fnt-xs">NM_000155(GAA):RTSH3</td>
            <td class="fnt-xs">20 bp</td>
            <td class="fnt-xs">80%</td>
            <td class="fnt-xs"><a class="link" href="javascript:void(0)">link</a></td>
          </tr>
          <tr>
            <td class="fnt-xs blueSky fnt-semibold">GHI</td>
            <td class="fnt-xs">NM_000155(GAA):RTSH1</td>
            <td class="fnt-xs">15 bp</td>
            <td class="fnt-xs">70%</td>
            <td class="fnt-xs"><a class="link" href="javascript:void(0)">link</a></td>
          </tr>
          <tr>
            <td class="fnt-xs blueSky fnt-semibold">ABC</td>
            <td class="fnt-xs">NM_000155(GAA):RTSH2</td>
            <td class="fnt-xs">15 bp</td>
            <td class="fnt-xs">100%</td>
            <td class="fnt-xs"><a class="link" href="javascript:void(0)">link</a></td>
          </tr>
          <tr>
            <td class="fnt-xs blueSky fnt-semibold">DEF</td>
            <td class="fnt-xs">NM_000155(GAA):RTSH3</td>
            <td class="fnt-xs">20 bp</td>
            <td class="fnt-xs">80%</td>
            <td class="fnt-xs"><a class="link" href="javascript:void(0)">link</a></td>
          </tr>
          <tr>
            <td class="fnt-xs blueSky fnt-semibold">GHI</td>
            <td class="fnt-xs">NM_000155(GAA):RTSH1</td>
            <td class="fnt-xs">15 bp</td>
            <td class="fnt-xs">70%</td>
            <td class="fnt-xs"><a class="link" href="javascript:void(0)">link</a></td>
          </tr>
          <tr>
            <td class="fnt-xs blueSky fnt-semibold">ABC</td>
            <td class="fnt-xs">NM_000155(GAA):RTSH2</td>
            <td class="fnt-xs">15 bp</td>
            <td class="fnt-xs">100%</td>
            <td class="fnt-xs"><a class="link" href="javascript:void(0)">link</a></td>
          </tr>
          <tr>
            <td class="fnt-xs blueSky fnt-semibold">DEF</td>
            <td class="fnt-xs">NM_000155(GAA):RTSH3</td>
            <td class="fnt-xs">20 bp</td>
            <td class="fnt-xs">80%</td>
            <td class="fnt-xs"><a class="link" href="javascript:void(0)">link</a></td>
          </tr>
          <tr>
            <td class="fnt-xs blueSky fnt-semibold">GHI</td>
            <td class="fnt-xs">NM_000155(GAA):RTSH1</td>
            <td class="fnt-xs">15 bp</td>
            <td class="fnt-xs">70%</td>
            <td class="fnt-xs"><a class="link" href="javascript:void(0)">link</a></td>
          </tr>
          <tr>
            <td class="fnt-xs blueSky fnt-semibold">DEF</td>
            <td class="fnt-xs">NM_000155(GAA):RTSH3</td>
            <td class="fnt-xs">20 bp</td>
            <td class="fnt-xs">80%</td>
            <td class="fnt-xs"><a class="link" href="javascript:void(0)">link</a></td>
          </tr>
        </tbody>
      </table>
      <!-- Catalog PANEL FLOW TABLE END-->
    </section>
  </div>
</div>
<!-- FIXED PANEL FLOW RIGHT SECTION END-->

src/pug/layouts/fixed-panel-flow/fixed-right-section.pug
// FIXED PANEL FLOW RIGHT SECTION START
.col-8
  .bg-white.bx-shadow#sticky-content
    section.sectionRight.mt-5
      // CONTENT SECTION
      .row
        .col-8
          h3.fnt-md.fnt-semibold Description
          p.py-2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel augue sem. Donec ut lacinia nibh. Aenean volutpat aliquam imperdiet. Vesti sed nibh eros. Etiam posuere ipsum fermentum, malesuada risus quis, suscipit odio. Aliquam vitae magna quam. In lobortis diam ut nulla ultricies tincidunt. Curabitur varius mauris ligula.

        .col-4.px-2
          .d-flex.align-items-start.justify-content-end
            .next--download
              a.d-inline-flex(href="javascript:void(0)")
                img.btnMove.img-fluid(src="img/icons/download.svg", alt="download")

            button.button.button-primary.button--flow.fnt-xs(type='button', data-toggle='modal', data-target='#requestFixed') Request Quote
            
            // Request Quote Popup
            #requestFixed.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
              .modal-dialog.modal-dialog-centered(role='document')
                .modal-content
                  .modal-header 
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                      span(aria-hidden='true') ×
                  .modal-body.px-5.pt-1
                    h5.fnt-semibold.black5f Quote requested
                    p.my-2 Thank you for submitting your request
                    p.pb-4 Someone from the Mission Bio team will get in touch with you shortly.

      // PANEL SUMMERY
      .row.my-3
        .col-3
          h3.fnt-md.fnt-semibold Panel Summary
        .col-9.d-flex.justify-content-end.align-items-center          
                
          .col-6.pl-md-0.searchbox.d-flex
              input.w-100.fnt-xs(type='text', placeholder='Search target name or ID', name='search')        
          include ../../components/pagination.pug
      // TABLE SECTION
      include fixed-table.pug
// FIXED PANEL FLOW RIGHT SECTION END
