src/pug/layouts/fixed-panel-flow/fixed-table.pug
// Catalog PANEL FLOW TABLE START
table.table.table--small.table-striped(cellspacing="0")
  thead
    tr
      th(scope='col') Target Name
        .custom-icon.icon-arrow-combo.fnt-xxs
      th(scope='col') ID
        .custom-icon.icon-arrow-combo.fnt-xxs
      th(scope='col') No. of Amplicons
      th(scope='col') Coverage
      th(scope='col') UCSC Link
  tbody.tbody
    tr
      td.fnt-xs.blueSky.fnt-semibold.fnt-semibold ABC
      td.fnt-xs NM_000155(GAA):RTSH2
      td.fnt-xs 15 bp
      td.fnt-xs 100%
      td.fnt-xs
        a.link(href="javascript:void(0)") link
    tr
      td.fnt-xs.blueSky.fnt-semibold DEF
      td.fnt-xs NM_000155(GAA):RTSH3
      td.fnt-xs 20 bp
      td.fnt-xs 80%
      td.fnt-xs
        a.link(href="javascript:void(0)") link
    tr
      td.fnt-xs.blueSky.fnt-semibold GHI
      td.fnt-xs NM_000155(GAA):RTSH1
      td.fnt-xs 15 bp
      td.fnt-xs 70%
      td.fnt-xs
        a.link(href="javascript:void(0)") link
    tr
      td.fnt-xs.blueSky.fnt-semibold ABC
      td.fnt-xs NM_000155(GAA):RTSH2
      td.fnt-xs 15 bp
      td.fnt-xs 100%
      td.fnt-xs
        a.link(href="javascript:void(0)") link
    tr
      td.fnt-xs.blueSky.fnt-semibold DEF
      td.fnt-xs NM_000155(GAA):RTSH3
      td.fnt-xs 20 bp
      td.fnt-xs 80%
      td.fnt-xs
        a.link(href="javascript:void(0)") link
    tr
      td.fnt-xs.blueSky.fnt-semibold GHI
      td.fnt-xs NM_000155(GAA):RTSH1
      td.fnt-xs 15 bp
      td.fnt-xs 70%
      td.fnt-xs
        a.link(href="javascript:void(0)") link
    tr
      td.fnt-xs.blueSky.fnt-semibold ABC
      td.fnt-xs NM_000155(GAA):RTSH2
      td.fnt-xs 15 bp
      td.fnt-xs 100%
      td.fnt-xs
        a.link(href="javascript:void(0)") link
    tr
      td.fnt-xs.blueSky.fnt-semibold DEF
      td.fnt-xs NM_000155(GAA):RTSH3
      td.fnt-xs 20 bp
      td.fnt-xs 80%
      td.fnt-xs
        a.link(href="javascript:void(0)") link
    tr
      td.fnt-xs.blueSky.fnt-semibold GHI
      td.fnt-xs NM_000155(GAA):RTSH1
      td.fnt-xs 15 bp
      td.fnt-xs 70%
      td.fnt-xs
        a.link(href="javascript:void(0)") link
    tr
      td.fnt-xs.blueSky.fnt-semibold DEF
      td.fnt-xs NM_000155(GAA):RTSH3
      td.fnt-xs 20 bp
      td.fnt-xs 80%
      td.fnt-xs
        a.link(href="javascript:void(0)") link



// Catalog PANEL FLOW TABLE END

dist/pug/layouts/fixed-panel-flow/fixed-table.html

<!-- Catalog PANEL FLOW TABLE START-->
<table class="table table--small table-striped" cellspacing="0">
  <thead>
    <tr>
      <th scope="col">Target Name
        <div class="custom-icon icon-arrow-combo fnt-xxs"></div>
      </th>
      <th scope="col">ID
        <div class="custom-icon icon-arrow-combo fnt-xxs"></div>
      </th>
      <th scope="col">No. of Amplicons</th>
      <th scope="col">Coverage</th>
      <th scope="col">UCSC Link</th>
    </tr>
  </thead>
  <tbody class="tbody">
    <tr>
      <td class="fnt-xs blueSky fnt-semibold fnt-semibold">ABC</td>
      <td class="fnt-xs">NM_000155(GAA):RTSH2</td>
      <td class="fnt-xs">15 bp</td>
      <td class="fnt-xs">100%</td>
      <td class="fnt-xs"><a class="link" href="javascript:void(0)">link</a></td>
    </tr>
    <tr>
      <td class="fnt-xs blueSky fnt-semibold">DEF</td>
      <td class="fnt-xs">NM_000155(GAA):RTSH3</td>
      <td class="fnt-xs">20 bp</td>
      <td class="fnt-xs">80%</td>
      <td class="fnt-xs"><a class="link" href="javascript:void(0)">link</a></td>
    </tr>
    <tr>
      <td class="fnt-xs blueSky fnt-semibold">GHI</td>
      <td class="fnt-xs">NM_000155(GAA):RTSH1</td>
      <td class="fnt-xs">15 bp</td>
      <td class="fnt-xs">70%</td>
      <td class="fnt-xs"><a class="link" href="javascript:void(0)">link</a></td>
    </tr>
    <tr>
      <td class="fnt-xs blueSky fnt-semibold">ABC</td>
      <td class="fnt-xs">NM_000155(GAA):RTSH2</td>
      <td class="fnt-xs">15 bp</td>
      <td class="fnt-xs">100%</td>
      <td class="fnt-xs"><a class="link" href="javascript:void(0)">link</a></td>
    </tr>
    <tr>
      <td class="fnt-xs blueSky fnt-semibold">DEF</td>
      <td class="fnt-xs">NM_000155(GAA):RTSH3</td>
      <td class="fnt-xs">20 bp</td>
      <td class="fnt-xs">80%</td>
      <td class="fnt-xs"><a class="link" href="javascript:void(0)">link</a></td>
    </tr>
    <tr>
      <td class="fnt-xs blueSky fnt-semibold">GHI</td>
      <td class="fnt-xs">NM_000155(GAA):RTSH1</td>
      <td class="fnt-xs">15 bp</td>
      <td class="fnt-xs">70%</td>
      <td class="fnt-xs"><a class="link" href="javascript:void(0)">link</a></td>
    </tr>
    <tr>
      <td class="fnt-xs blueSky fnt-semibold">ABC</td>
      <td class="fnt-xs">NM_000155(GAA):RTSH2</td>
      <td class="fnt-xs">15 bp</td>
      <td class="fnt-xs">100%</td>
      <td class="fnt-xs"><a class="link" href="javascript:void(0)">link</a></td>
    </tr>
    <tr>
      <td class="fnt-xs blueSky fnt-semibold">DEF</td>
      <td class="fnt-xs">NM_000155(GAA):RTSH3</td>
      <td class="fnt-xs">20 bp</td>
      <td class="fnt-xs">80%</td>
      <td class="fnt-xs"><a class="link" href="javascript:void(0)">link</a></td>
    </tr>
    <tr>
      <td class="fnt-xs blueSky fnt-semibold">GHI</td>
      <td class="fnt-xs">NM_000155(GAA):RTSH1</td>
      <td class="fnt-xs">15 bp</td>
      <td class="fnt-xs">70%</td>
      <td class="fnt-xs"><a class="link" href="javascript:void(0)">link</a></td>
    </tr>
    <tr>
      <td class="fnt-xs blueSky fnt-semibold">DEF</td>
      <td class="fnt-xs">NM_000155(GAA):RTSH3</td>
      <td class="fnt-xs">20 bp</td>
      <td class="fnt-xs">80%</td>
      <td class="fnt-xs"><a class="link" href="javascript:void(0)">link</a></td>
    </tr>
  </tbody>
</table>
<!-- Catalog PANEL FLOW TABLE END-->
