dist/pug/layouts/landing-pages/custom.html

<!--Landing Page-->
<!-- Custom Flow Beginning-->
<div class="row">
  <div class="col-12">
    <div class="row pad-tp4">
      <div class="col-12">
        <div class="custom-panel-tabel" id="target2">
          <div class="custom-icon icon-cancel mr-0 panel-close"></div>
          <div class="d-flex">
            <div class="panel-left col-6">
              <h2 class="fnt-xl mb-2 fnt-semibold custom-panel-tabel__head">Customize with Precision.</h2>
              <h6 class="fnt-sm mb-5">Let us help you design panels that would best aid your research</h6>
              <table class="mt-2 custom-table border-top border-btm">
                <thead class="fnt-sm fnt-400">
                  <tr>
                    <th> Assay Type</th>
                    <th> Genome</th>
                    <th> Permissable Amplicon Range</th>
                  </tr>
                </thead>
                <tbody class="fnt-sm black5f fnt-700">
                  <tr>
                    <td>DNA</td>
                  </tr>
                  <tr>
                    <td>Human hg19</td>
                  </tr>
                  <tr>
                    <td>2 - 500 bp</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="panel-right col-6">
              <div class="d-flex justify-content-between align-items-center mt-3"><a class="fnt-sm fnt-semibold blueSky" href="#">Example target format</a>
                <ul class="tabs col-md-5 col-lg-4 fnt-xs text-capitalize">
                  <li class="tab-link current" data-tab="tab-1">upload</li>
                  <li class="tab-link" data-tab="tab-2">text</li>
                </ul>
              </div>
              <form>
                <div class="tab-content current" id="tab-1">
                  <div class="upload-documents">
                    <input class="upload-files" id="upload-docs" type="file"/>
                    <div class="d-flex">
                      <div class="upload-documents__drop">
                        <div class="figure"><img class="img-fluid" src="img/upload-01.png"/></div>
                        <div class="figcaption fnt-xs fnt-regular"><span class="fnt-400">Drag and drop your file here</span></div>
                      </div><span class="or-option mx-3 my-auto text-uppercase fnt-semibold fnt-xs">or</span>
                      <div class="upload-documents__drop">
                        <div class="figure"><img src="img/upload-01.png"/></div>
                        <div class="figcaption fnt-xs fnt-regular"><span class="fnt-700 blueSky">Browse </span><span class="fnt-400">from your computer</span></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-content" id="tab-2">
                  <textarea class="fnt-sm p-3 add-text w-100" id="submit-comments" name="text" rows="8" placeholder="Please paste the gene symbols here. You need to ensure they separated by a comma or  list them one below the other."></textarea>
                </div>
                <input class="h-45button button--submit01 submit float-right mt-4 fnt-sm text-uppercase submitbtn opacity_5" type="submit" value="SUBMIT"/>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

src/pug/layouts/landing-pages/custom.pug
//Landing Page
// Custom Flow Beginning

.row
  .col-12
    .row.pad-tp4
      .col-12
        .custom-panel-tabel#target2
            
            .custom-icon.icon-cancel.mr-0.panel-close
            .d-flex
                .panel-left.col-6
                  h2.fnt-xl.mb-2.fnt-semibold.custom-panel-tabel__head Customize with Precision.
                  h6.fnt-sm.mb-5 Let us help you design panels that would best aid your research
                  table.mt-2.custom-table.border-top.border-btm
                    thead.fnt-sm.fnt-400
                        tr
                          th  Assay Type
                          th  Genome
                          th  Permissable Amplicon Range
                    tbody.fnt-sm.black5f.fnt-700
                        tr
                          td DNA
                        tr
                          td Human hg19
                        tr
                          td 2 - 500 bp
                .panel-right.col-6
                  .d-flex.justify-content-between.align-items-center.mt-3
                      a(href="#").fnt-sm.fnt-semibold.blueSky Example target format
                      ul.tabs.col-md-5.col-lg-4.fnt-xs.text-capitalize
                        li.tab-link.current(data-tab='tab-1') upload
                        li.tab-link(data-tab='tab-2') text
                  form
                      
                      #tab-1.tab-content.current
                          .upload-documents
                            input#upload-docs.upload-files(type="file")
                            .d-flex
                              .upload-documents__drop
                                  .figure
                                    img.img-fluid(src="img/upload-01.png")
                                  .figcaption.fnt-xs.fnt-regular
                                    span.fnt-400 Drag and drop your file here
                              span.or-option.mx-3.my-auto.text-uppercase.fnt-semibold.fnt-xs or
                              .upload-documents__drop
                                  .figure
                                      img(src="img/upload-01.png")
                                  .figcaption.fnt-xs.fnt-regular
                                      span.fnt-700.blueSky Browse 
                                      span.fnt-400 from your computer
                          

                      #tab-2.tab-content
                          textarea.fnt-sm.p-3#submit-comments.add-text.w-100(name="text" rows="8" placeholder="Please paste the gene symbols here. You need to ensure they separated by a comma or  list them one below the other.")
                      input.h-45button.button--submit01.submit.float-right.mt-4.fnt-sm.text-uppercase.submitbtn.opacity_5(type="submit",value="SUBMIT")
                      //- a.h-45button.button--submit01.submit.float-right.mt-4.fnt-sm.text-uppercase.submitbtn.opacity_5(href="custom-flow.html" disabled='') submit
