src/pug/layouts/landing-pages/fixed.pug
//Landing page
// Catalog flow links

.row
  .w-100.pad-tp10
    .col-12
      .fixed-panel-tabel#target1
        h2.fnt-xl.fixed-panel-tabel__head.fnt-semibold Target with Precision.
        h6.fnt-sm.mb-4.fnt-semibold.black4a Browse through our list of Catalog panels and place an order
        .custom-icon.icon-cancel.mr-0.panel-close
        table.table.table-striped(cellspacing="0")
          thead
            tr
              th(scope='col') Design Name
              th(scope='col') Target Size
              th(scope='col') Total Amplicons
              th(scope='col') Coverage
              th(scope='col') Last Modified
          tbody
            tr
              td.fnt-sm
                a.link.fnt-sm(href="fixed-panel-flow.html") AML Panel
              td.fnt-sm 22 kb
              td.fnt-sm 33 bp
              td.fnt-sm 100 %
              td.fnt-sm 15 - June - 2018
            tr
              td.fnt-sm
                a.link.fnt-sm(href="fixed-panel-flow.html") Myeloid Panel
              td.fnt-sm 35 kb
              td.fnt-sm 79 bp
              td.fnt-sm 100 %
              td.fnt-sm 02 - August - 2018
            tr
              td.fnt-sm
                a.link.fnt-sm(href="fixed-panel-flow.html") Myeloid Panel
              td.fnt-sm 40 kb
              td.fnt-sm 322 bp
              td.fnt-sm 80 %
              td.fnt-sm 15 - August - 2018

dist/pug/layouts/landing-pages/fixed.html

<!--Landing page-->
<!-- Catalog flow links-->
<div class="row">
  <div class="w-100 pad-tp10">
    <div class="col-12">
      <div class="fixed-panel-tabel" id="target1">
        <h2 class="fnt-xl fixed-panel-tabel__head fnt-semibold">Target with Precision.</h2>
        <h6 class="fnt-sm mb-4 fnt-semibold black4a">Browse through our list of Catalog panels and place an order</h6>
        <div class="custom-icon icon-cancel mr-0 panel-close"></div>
        <table class="table table-striped" cellspacing="0">
          <thead>
            <tr>
              <th scope="col">Design Name</th>
              <th scope="col">Target Size</th>
              <th scope="col">Total Amplicons</th>
              <th scope="col">Coverage</th>
              <th scope="col">Last Modified</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="fnt-sm"><a class="link fnt-sm" href="fixed-panel-flow.html">AML Panel</a></td>
              <td class="fnt-sm">22 kb</td>
              <td class="fnt-sm">33 bp</td>
              <td class="fnt-sm">100 %</td>
              <td class="fnt-sm">15 - June - 2018</td>
            </tr>
            <tr>
              <td class="fnt-sm"><a class="link fnt-sm" href="fixed-panel-flow.html">Myeloid Panel</a></td>
              <td class="fnt-sm">35 kb</td>
              <td class="fnt-sm">79 bp</td>
              <td class="fnt-sm">100 %</td>
              <td class="fnt-sm">02 - August - 2018</td>
            </tr>
            <tr>
              <td class="fnt-sm"><a class="link fnt-sm" href="fixed-panel-flow.html">Myeloid Panel</a></td>
              <td class="fnt-sm">40 kb</td>
              <td class="fnt-sm">322 bp</td>
              <td class="fnt-sm">80 %</td>
              <td class="fnt-sm">15 - August - 2018</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
