src/pug/layouts/landing-pages/landing-page-returning-users.pug
// Landing page returning users
section.section.section-main.section-main--lg.pad-tp10
  .container.position-relative
    .row.target-reuser
        .col-6
          .media.bg-white.p-4
            img.img-fluid.px-3(src='img/tp-search.png', alt='search')
            .media-body.ml-4.mb-2
              h1.fnt-xl.fnt-semibold Target with Precision
              h2.fnt-sm.fnt-semibold.mb-3.black4a Browse through our list of catalog panels
              a(href="#target1").h-40.target-reuser--link.button.button-primary.fnt-sm.text-uppercase  View Details
        .col-6
          .media.bg-white.p-4
            img.img-fluid.px-3(src='img/tp-search.png', alt='search')
            .media-body.ml-4.mb-2
              h1.fnt-xl.fnt-semibold Customize with Precision
              h2.fnt-sm.fnt-semibold.mb-3.black4a Add targets to get started with your custom design
              a(href="#target2").h-40.target-reuser--link.button.button-primary.fnt-sm.text-uppercase Create design
section.section.js-hide
  .container.position-relative
    include fixed.pug
    include custom.pug
        
section
  .container
    .row.mx-0
      ul.w-100.mb-10(type="none")
        li.col-12.bx-shadow.bg-white.table-padding.mt-4
          // Catalog PANEL--RETURNING USER--SEARCH
          .row.my-3.align-items-center
            .col-5
              h3.fnt-md.fnt-semibold Dashboard
              p Details of all your custom designs

            .col-7
              .row.align-items-center
                // SEARCHBOX
                .col-5
                  form.searchbox.d-flex
                    input.w-100.cursr.fnt-xs(type='text', placeholder='Search target name or ID', name='search')
                    //- button(type='submit')
                      .custom-icon.icon-search.align-middle.mr-0
                .col-7
                  .row.align-items-center
                    .col-5
                      //- label.form-label Country
                      .ui.w-100.selection.dropdown.form-dropdown
                        input(type="hidden" name="DataStatus")
                        .custom-icon.icon-down-open-mini
                        .defualt.text All
                        .menu.hidden
                          .item(data-value='all')
                            | All
                          .item(data-value='draft')
                            | Draft
                          .item(data-value='submitted')
                            | Submitted
                          .item(data-value='result')
                            | Result Ready
                          .item(data-value='ordered')
                            | Ordered
                    .col-7
                      include ../../components/pagination.pug

          // Catalog PANEL--RETURNING USER--TABLE-2
          .row
            .col-12
              table.table.table-striped(cellspacing="0")
                thead
                  tr
                    th(scope='col') Design ID
                      .custom-icon.icon-arrow-combo.fnt-xxs.mr-0
                    th(scope='col') Design Name
                      .custom-icon.icon-arrow-combo.fnt-xxs.mr-0
                    th(scope='col') Target Size
                      .custom-icon.icon-arrow-combo.fnt-xxs.mr-0
                    th(scope='col') Total Amplicons
                      .custom-icon.icon-arrow-combo.fnt-xxs.mr-0
                    th(scope='col') Coverage
                      .custom-icon.icon-arrow-combo.fnt-xxs.mr-0
                    th(scope='col') Last Modified
                      .custom-icon.icon-arrow-combo.fnt-xxs.mr-0
                    th(scope='col') Status
                      .custom-icon.icon-arrow-combo.fnt-xxs.mr-0
                tbody.tbody
                  tr
                    td.fnt-sm 1450
                    td.fnt-sm
                      .custom-icon.icon-pencil.mr-1
                      a.link.blueSky(href="javascript:void(0)") CP01
                    td.fnt-sm 22 kb
                    td.fnt-sm ~5 bp
                    td.fnt-sm 98 %
                    td.fnt-sm 15 - Jun - 2018
                    td.fnt-sm.d-flex.justify-content-between
                      span.table-dots.table-dots--red Draft
                      .next.d-flex.align-items-center
                        .next--delet-order.mr-3(data-toggle='tooltip', data-placement='bottom', title='Delete')
                          span.d-inline-block
                          span.d-inline-block
                          span.d-inline-block
                  tr
                    td.fnt-sm 1451
                    td.fnt-sm
                      .custom-icon.icon-lock.mr-1
                      a.link.blueSky(href="javascript:void(0)") CP02
                    td.fnt-sm 22 kb
                    td.fnt-sm ~5 bp
                    td.fnt-sm 98 %
                    td.fnt-sm 15 - Jun - 2018
                    td.fnt-sm.d-flex.justify-content-between
                      span.table-dots.table-dots--green Submitted
                  tr
                    td.fnt-sm 1459
                    td.fnt-sm
                      .custom-icon.icon-lock.mr-1
                      a.link.blueSky(href="javascript:void(0)") CP02
                    td.fnt-sm 22 kb
                    td.fnt-sm ~5 bp
                    td.fnt-sm 98 %
                    td.fnt-sm 15 - Jun - 2018
                    td.fnt-sm.d-flex.justify-content-between
                      span.table-dots.table-dots--yellow Result ready
                  tr
                    td.fnt-sm 1451
                    td.fnt-sm
                      .custom-icon.icon-lock.mr-1
                      a.link.blueSky(href="javascript:void(0)") CP02
                    td.fnt-sm 22 kb
                    td.fnt-sm ~5 bp
                    td.fnt-sm 98 %
                    td.fnt-sm 15 - Jun - 2018
                    td.fnt-sm.d-flex.justify-content-between
                      span.table-dots.table-dots--purple Ordered
                  tr
                    td.fnt-sm 1455
                    td.fnt-sm
                      .custom-icon.icon-pencil.mr-1
                      a.link.blueSky(href="javascript:void(0)") CP02
                    td.fnt-sm 22 kb
                    td.fnt-sm ~5 bp
                    td.fnt-sm 98 %
                    td.fnt-sm 15 - Jun - 2018
                    td.fnt-sm.d-flex.justify-content-between
                      span.table-dots.table-dots--red Draft
                      .next.d-flex.align-items-center
                        .next--delet-order.mr-3(data-toggle='tooltip', data-placement='bottom', title='Delete')
                          span.d-inline-block
                          span.d-inline-block
                          span.d-inline-block
                  tr
                    td.fnt-sm 1452
                    td.fnt-sm
                      .custom-icon.icon-lock.mr-1
                      a.link.blueSky(href="javascript:void(0)") CP02
                    td.fnt-sm 22 kb
                    td.fnt-sm ~5 bp
                    td.fnt-sm 98 %
                    td.fnt-sm 15 - Jun - 2018
                    td.fnt-sm.d-flex.justify-content-between
                      span.table-dots.table-dots--purple Ordered
                  tr
                    td.fnt-sm 1451
                    td.fnt-sm
                      .custom-icon.icon-lock.mr-1
                      a.link.blueSky(href="javascript:void(0)") CP02
                    td.fnt-sm 22 kb
                    td.fnt-sm ~5 bp
                    td.fnt-sm 98 %
                    td.fnt-sm 15 - Jun - 2018
                    td.fnt-sm.d-flex.justify-content-between
                      span.table-dots.table-dots--yellow Result ready
                  tr
                    td.fnt-sm 1456
                    td.fnt-sm
                      .custom-icon.icon-lock.mr-1
                      a.link.blueSky(href="javascript:void(0)") CP02
                    td.fnt-sm 22 kb
                    td.fnt-sm ~5 bp
                    td.fnt-sm 98 %
                    td.fnt-sm 15 - Jun - 2018
                    td.fnt-sm.d-flex.justify-content-between
                      span.table-dots.table-dots--purple Ordered
                  tr
                    td.fnt-sm 1457
                    td.fnt-sm
                      .custom-icon.icon-lock.mr-1
                      a.link.blueSky(href="javascript:void(0)") CP02
                    td.fnt-sm 22 kb
                    td.fnt-sm ~5 bp
                    td.fnt-sm 98 %
                    td.fnt-sm 15 - Jun - 2018
                    td.fnt-sm.d-flex.justify-content-between
                      span.table-dots.table-dots--green Submitted
                  tr
                    td.fnt-sm 1458
                    td.fnt-sm
                      .custom-icon.icon-lock.mr-1
                      a.link.blueSky(href="javascript:void(0)") CP02
                    td.fnt-sm 22 kb
                    td.fnt-sm ~5 bp
                    td.fnt-sm 98 %
                    td.fnt-sm 15 - Jun - 2018
                    td.fnt-sm.d-flex.justify-content-between
                      span.table-dots.table-dots--green Submitted

              // Catalog PANEL FLOW TABLE END

dist/pug/layouts/landing-pages/landing-page-returning-users.html

<!-- Landing page returning users-->
<section class="section section-main section-main--lg pad-tp10">
  <div class="container position-relative">
    <div class="row target-reuser">
      <div class="col-6">
        <div class="media bg-white p-4"><img class="img-fluid px-3" src="img/tp-search.png" alt="search"/>
          <div class="media-body ml-4 mb-2">
            <h1 class="fnt-xl fnt-semibold">Target with Precision</h1>
            <h2 class="fnt-sm fnt-semibold mb-3 black4a">Browse through our list of catalog panels</h2><a class="h-40 target-reuser--link button button-primary fnt-sm text-uppercase" href="#target1"> View Details</a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="media bg-white p-4"><img class="img-fluid px-3" src="img/tp-search.png" alt="search"/>
          <div class="media-body ml-4 mb-2">
            <h1 class="fnt-xl fnt-semibold">Customize with Precision</h1>
            <h2 class="fnt-sm fnt-semibold mb-3 black4a">Add targets to get started with your custom design</h2><a class="h-40 target-reuser--link button button-primary fnt-sm text-uppercase" href="#target2">Create design</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section js-hide">
  <div class="container position-relative">
    <!--Landing page-->
    <!-- Catalog flow links-->
    <div class="row">
      <div class="w-100 pad-tp10">
        <div class="col-12">
          <div class="fixed-panel-tabel" id="target1">
            <h2 class="fnt-xl fixed-panel-tabel__head fnt-semibold">Target with Precision.</h2>
            <h6 class="fnt-sm mb-4 fnt-semibold black4a">Browse through our list of Catalog panels and place an order</h6>
            <div class="custom-icon icon-cancel mr-0 panel-close"></div>
            <table class="table table-striped" cellspacing="0">
              <thead>
                <tr>
                  <th scope="col">Design Name</th>
                  <th scope="col">Target Size</th>
                  <th scope="col">Total Amplicons</th>
                  <th scope="col">Coverage</th>
                  <th scope="col">Last Modified</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="fnt-sm"><a class="link fnt-sm" href="fixed-panel-flow.html">AML Panel</a></td>
                  <td class="fnt-sm">22 kb</td>
                  <td class="fnt-sm">33 bp</td>
                  <td class="fnt-sm">100 %</td>
                  <td class="fnt-sm">15 - June - 2018</td>
                </tr>
                <tr>
                  <td class="fnt-sm"><a class="link fnt-sm" href="fixed-panel-flow.html">Myeloid Panel</a></td>
                  <td class="fnt-sm">35 kb</td>
                  <td class="fnt-sm">79 bp</td>
                  <td class="fnt-sm">100 %</td>
                  <td class="fnt-sm">02 - August - 2018</td>
                </tr>
                <tr>
                  <td class="fnt-sm"><a class="link fnt-sm" href="fixed-panel-flow.html">Myeloid Panel</a></td>
                  <td class="fnt-sm">40 kb</td>
                  <td class="fnt-sm">322 bp</td>
                  <td class="fnt-sm">80 %</td>
                  <td class="fnt-sm">15 - August - 2018</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--Landing Page-->
    <!-- Custom Flow Beginning-->
    <div class="row">
      <div class="col-12">
        <div class="row pad-tp4">
          <div class="col-12">
            <div class="custom-panel-tabel" id="target2">
              <div class="custom-icon icon-cancel mr-0 panel-close"></div>
              <div class="d-flex">
                <div class="panel-left col-6">
                  <h2 class="fnt-xl mb-2 fnt-semibold custom-panel-tabel__head">Customize with Precision.</h2>
                  <h6 class="fnt-sm mb-5">Let us help you design panels that would best aid your research</h6>
                  <table class="mt-2 custom-table border-top border-btm">
                    <thead class="fnt-sm fnt-400">
                      <tr>
                        <th> Assay Type</th>
                        <th> Genome</th>
                        <th> Permissable Amplicon Range</th>
                      </tr>
                    </thead>
                    <tbody class="fnt-sm black5f fnt-700">
                      <tr>
                        <td>DNA</td>
                      </tr>
                      <tr>
                        <td>Human hg19</td>
                      </tr>
                      <tr>
                        <td>2 - 500 bp</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="panel-right col-6">
                  <div class="d-flex justify-content-between align-items-center mt-3"><a class="fnt-sm fnt-semibold blueSky" href="#">Example target format</a>
                    <ul class="tabs col-md-5 col-lg-4 fnt-xs text-capitalize">
                      <li class="tab-link current" data-tab="tab-1">upload</li>
                      <li class="tab-link" data-tab="tab-2">text</li>
                    </ul>
                  </div>
                  <form>
                    <div class="tab-content current" id="tab-1">
                      <div class="upload-documents">
                        <input class="upload-files" id="upload-docs" type="file"/>
                        <div class="d-flex">
                          <div class="upload-documents__drop">
                            <div class="figure"><img class="img-fluid" src="img/upload-01.png"/></div>
                            <div class="figcaption fnt-xs fnt-regular"><span class="fnt-400">Drag and drop your file here</span></div>
                          </div><span class="or-option mx-3 my-auto text-uppercase fnt-semibold fnt-xs">or</span>
                          <div class="upload-documents__drop">
                            <div class="figure"><img src="img/upload-01.png"/></div>
                            <div class="figcaption fnt-xs fnt-regular"><span class="fnt-700 blueSky">Browse </span><span class="fnt-400">from your computer</span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-content" id="tab-2">
                      <textarea class="fnt-sm p-3 add-text w-100" id="submit-comments" name="text" rows="8" placeholder="Please paste the gene symbols here. You need to ensure they separated by a comma or  list them one below the other."></textarea>
                    </div>
                    <input class="h-45button button--submit01 submit float-right mt-4 fnt-sm text-uppercase submitbtn opacity_5" type="submit" value="SUBMIT"/>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row mx-0">
      <ul class="w-100 mb-10" type="none">
        <li class="col-12 bx-shadow bg-white table-padding mt-4">
          <!-- Catalog PANEL--RETURNING USER--SEARCH-->
          <div class="row my-3 align-items-center">
            <div class="col-5">
              <h3 class="fnt-md fnt-semibold">Dashboard</h3>
              <p>Details of all your custom designs</p>
            </div>
            <div class="col-7">
              <div class="row align-items-center">
                <!-- SEARCHBOX-->
                <div class="col-5">
                  <form class="searchbox d-flex">
                    <input class="w-100 cursr fnt-xs" type="text" placeholder="Search target name or ID" name="search"/>
                  </form>
                </div>
                <div class="col-7">
                  <div class="row align-items-center">
                    <div class="col-5">
                      <div class="ui w-100 selection dropdown form-dropdown">
                        <input type="hidden" name="DataStatus"/>
                        <div class="custom-icon icon-down-open-mini"></div>
                        <div class="defualt text">All</div>
                        <div class="menu hidden">
                          <div class="item" data-value="all">All</div>
                          <div class="item" data-value="draft">Draft</div>
                          <div class="item" data-value="submitted">Submitted</div>
                          <div class="item" data-value="result">Result Ready</div>
                          <div class="item" data-value="ordered">Ordered</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-7">
                      <!-- START PAGINATION-->
                      <nav class="float-right pagiNav" aria-label="Page navigation">
                        <ul class="pagination align-items-center">
                          <li class="page-item"><a class="text-center page-link" href="#" aria-label="Previous"><img class="page-link--left img-fluid" src="img/icons/arrow01.svg"/></a></li>
                          <li class="page-item fnt-xs">
                            <div class="ui selection dropdown form-dropdown pagi-dropdown text-center">
                              <input type="hidden" name="DataStatus"/>
                              <div class="defualt text">Rows <span class="displayValue">10 </span>of <span class="totalValue">100</span></div>
                              <div class="menu hidden">
                                <div class="item text-center" data-value="1-10">10</div>
                                <div class="item text-center" data-value="20">20</div>
                                <div class="item text-center" data-value="30">30</div>
                                <div class="item text-center" data-value="40">40</div>
                              </div>
                            </div>
                          </li>
                          <li class="page-item"><a class="page-link" href="#" aria-label="Next"><img class="img-fluid" src="img/icons/arrow01.svg"/></a></li>
                        </ul>
                      </nav>
                      <!-- END PAGINATION-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Catalog PANEL--RETURNING USER--TABLE-2-->
          <div class="row">
            <div class="col-12">
              <table class="table table-striped" cellspacing="0">
                <thead>
                  <tr>
                    <th scope="col">Design ID
                      <div class="custom-icon icon-arrow-combo fnt-xxs mr-0"></div>
                    </th>
                    <th scope="col">Design Name
                      <div class="custom-icon icon-arrow-combo fnt-xxs mr-0"></div>
                    </th>
                    <th scope="col">Target Size
                      <div class="custom-icon icon-arrow-combo fnt-xxs mr-0"></div>
                    </th>
                    <th scope="col">Total Amplicons
                      <div class="custom-icon icon-arrow-combo fnt-xxs mr-0"></div>
                    </th>
                    <th scope="col">Coverage
                      <div class="custom-icon icon-arrow-combo fnt-xxs mr-0"></div>
                    </th>
                    <th scope="col">Last Modified
                      <div class="custom-icon icon-arrow-combo fnt-xxs mr-0"></div>
                    </th>
                    <th scope="col">Status
                      <div class="custom-icon icon-arrow-combo fnt-xxs mr-0"></div>
                    </th>
                  </tr>
                </thead>
                <tbody class="tbody">
                  <tr>
                    <td class="fnt-sm">1450</td>
                    <td class="fnt-sm">
                      <div class="custom-icon icon-pencil mr-1"></div><a class="link blueSky" href="javascript:void(0)">CP01</a>
                    </td>
                    <td class="fnt-sm">22 kb</td>
                    <td class="fnt-sm">~5 bp</td>
                    <td class="fnt-sm">98 %</td>
                    <td class="fnt-sm">15 - Jun - 2018</td>
                    <td class="fnt-sm d-flex justify-content-between"><span class="table-dots table-dots--red">Draft</span>
                      <div class="next d-flex align-items-center">
                        <div class="next--delet-order mr-3" data-toggle="tooltip" data-placement="bottom" title="Delete"><span class="d-inline-block"></span><span class="d-inline-block"></span><span class="d-inline-block"></span></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="fnt-sm">1451</td>
                    <td class="fnt-sm">
                      <div class="custom-icon icon-lock mr-1"></div><a class="link blueSky" href="javascript:void(0)">CP02</a>
                    </td>
                    <td class="fnt-sm">22 kb</td>
                    <td class="fnt-sm">~5 bp</td>
                    <td class="fnt-sm">98 %</td>
                    <td class="fnt-sm">15 - Jun - 2018</td>
                    <td class="fnt-sm d-flex justify-content-between"><span class="table-dots table-dots--green">Submitted</span></td>
                  </tr>
                  <tr>
                    <td class="fnt-sm">1459</td>
                    <td class="fnt-sm">
                      <div class="custom-icon icon-lock mr-1"></div><a class="link blueSky" href="javascript:void(0)">CP02</a>
                    </td>
                    <td class="fnt-sm">22 kb</td>
                    <td class="fnt-sm">~5 bp</td>
                    <td class="fnt-sm">98 %</td>
                    <td class="fnt-sm">15 - Jun - 2018</td>
                    <td class="fnt-sm d-flex justify-content-between"><span class="table-dots table-dots--yellow">Result ready</span></td>
                  </tr>
                  <tr>
                    <td class="fnt-sm">1451</td>
                    <td class="fnt-sm">
                      <div class="custom-icon icon-lock mr-1"></div><a class="link blueSky" href="javascript:void(0)">CP02</a>
                    </td>
                    <td class="fnt-sm">22 kb</td>
                    <td class="fnt-sm">~5 bp</td>
                    <td class="fnt-sm">98 %</td>
                    <td class="fnt-sm">15 - Jun - 2018</td>
                    <td class="fnt-sm d-flex justify-content-between"><span class="table-dots table-dots--purple">Ordered</span></td>
                  </tr>
                  <tr>
                    <td class="fnt-sm">1455</td>
                    <td class="fnt-sm">
                      <div class="custom-icon icon-pencil mr-1"></div><a class="link blueSky" href="javascript:void(0)">CP02</a>
                    </td>
                    <td class="fnt-sm">22 kb</td>
                    <td class="fnt-sm">~5 bp</td>
                    <td class="fnt-sm">98 %</td>
                    <td class="fnt-sm">15 - Jun - 2018</td>
                    <td class="fnt-sm d-flex justify-content-between"><span class="table-dots table-dots--red">Draft</span>
                      <div class="next d-flex align-items-center">
                        <div class="next--delet-order mr-3" data-toggle="tooltip" data-placement="bottom" title="Delete"><span class="d-inline-block"></span><span class="d-inline-block"></span><span class="d-inline-block"></span></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="fnt-sm">1452</td>
                    <td class="fnt-sm">
                      <div class="custom-icon icon-lock mr-1"></div><a class="link blueSky" href="javascript:void(0)">CP02</a>
                    </td>
                    <td class="fnt-sm">22 kb</td>
                    <td class="fnt-sm">~5 bp</td>
                    <td class="fnt-sm">98 %</td>
                    <td class="fnt-sm">15 - Jun - 2018</td>
                    <td class="fnt-sm d-flex justify-content-between"><span class="table-dots table-dots--purple">Ordered</span></td>
                  </tr>
                  <tr>
                    <td class="fnt-sm">1451</td>
                    <td class="fnt-sm">
                      <div class="custom-icon icon-lock mr-1"></div><a class="link blueSky" href="javascript:void(0)">CP02</a>
                    </td>
                    <td class="fnt-sm">22 kb</td>
                    <td class="fnt-sm">~5 bp</td>
                    <td class="fnt-sm">98 %</td>
                    <td class="fnt-sm">15 - Jun - 2018</td>
                    <td class="fnt-sm d-flex justify-content-between"><span class="table-dots table-dots--yellow">Result ready</span></td>
                  </tr>
                  <tr>
                    <td class="fnt-sm">1456</td>
                    <td class="fnt-sm">
                      <div class="custom-icon icon-lock mr-1"></div><a class="link blueSky" href="javascript:void(0)">CP02</a>
                    </td>
                    <td class="fnt-sm">22 kb</td>
                    <td class="fnt-sm">~5 bp</td>
                    <td class="fnt-sm">98 %</td>
                    <td class="fnt-sm">15 - Jun - 2018</td>
                    <td class="fnt-sm d-flex justify-content-between"><span class="table-dots table-dots--purple">Ordered</span></td>
                  </tr>
                  <tr>
                    <td class="fnt-sm">1457</td>
                    <td class="fnt-sm">
                      <div class="custom-icon icon-lock mr-1"></div><a class="link blueSky" href="javascript:void(0)">CP02</a>
                    </td>
                    <td class="fnt-sm">22 kb</td>
                    <td class="fnt-sm">~5 bp</td>
                    <td class="fnt-sm">98 %</td>
                    <td class="fnt-sm">15 - Jun - 2018</td>
                    <td class="fnt-sm d-flex justify-content-between"><span class="table-dots table-dots--green">Submitted</span></td>
                  </tr>
                  <tr>
                    <td class="fnt-sm">1458</td>
                    <td class="fnt-sm">
                      <div class="custom-icon icon-lock mr-1"></div><a class="link blueSky" href="javascript:void(0)">CP02</a>
                    </td>
                    <td class="fnt-sm">22 kb</td>
                    <td class="fnt-sm">~5 bp</td>
                    <td class="fnt-sm">98 %</td>
                    <td class="fnt-sm">15 - Jun - 2018</td>
                    <td class="fnt-sm d-flex justify-content-between"><span class="table-dots table-dots--green">Submitted</span></td>
                  </tr>
                </tbody>
              </table>
              <!-- Catalog PANEL FLOW TABLE END-->
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
