src/pug/layouts/landing-pages/main-landing.pug
// MAIN LANDING
section.section.pad-tp10
    .container
        .row
            .col-12
                .target-panels.position-relative
                    .circle.text-uppercase.fnt-sm.black5f.fnt-semibold or
                    ul.panel-card.d-flex.justify-content-center.pb-4
                        include ../../components/mixins/panels.pug
                        +panels("img/tp-search.png","search", "Target with Precision", "Browse through our list of Catalog panels ", "Tapestri Single-Cell DNA Panels can be applied across a wide number of applications, including hematologic malignancies, solid tumor profiling, and genome editing programs, to identify rare subclones missed by standard bulk sequencing, or co-mutation.","#target1","view details")
                        +panels("img/cp-search.png","search", "Customize with Precision", "Add targets to get started with your custom design ", "The design and manufacture of your custom panel is taken care of with our in-house primer design experts and proprietary pipeline. Tapestri Custom panels enable you access to single-cell DNA in the applications most important to you.","#target2","create design")
                
// Catalog pannel
section.section.js-hide.sectin-pd
  .container.position-relative
    include fixed.pug
    include custom.pug

dist/pug/layouts/landing-pages/main-landing.html

<!-- MAIN LANDING-->
<section class="section pad-tp10">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="target-panels position-relative">
          <div class="circle text-uppercase fnt-sm black5f fnt-semibold">or</div>
          <ul class="panel-card d-flex justify-content-center pb-4">
            <!-- PANELS-->
                        <li class="col-6 panel-card__items"><img class="card__view img-fluid mb-3" src="img/tp-search.png" alt="search"/>
                          <div class="card-body p-0">
                            <h1 class="fnt-xl fnt-semibold">Target with Precision</h1>
                            <h2 class="fnt-sm fnt-semibold my-2">Browse through our list of Catalog panels </h2>
                            <p class="fnt-14 mb-3 pr-3">Tapestri Single-Cell DNA Panels can be applied across a wide number of applications, including hematologic malignancies, solid tumor profiling, and genome editing programs, to identify rare subclones missed by standard bulk sequencing, or co-mutation.</p><a class="h-40 button button-primary fnt-sm text-uppercase btnHover" href="#target1">view details</a>
                          </div>
                        </li>
                        <li class="col-6 panel-card__items"><img class="card__view img-fluid mb-3" src="img/cp-search.png" alt="search"/>
                          <div class="card-body p-0">
                            <h1 class="fnt-xl fnt-semibold">Customize with Precision</h1>
                            <h2 class="fnt-sm fnt-semibold my-2">Add targets to get started with your custom design </h2>
                            <p class="fnt-14 mb-3 pr-3">The design and manufacture of your custom panel is taken care of with our in-house primer design experts and proprietary pipeline. Tapestri Custom panels enable you access to single-cell DNA in the applications most important to you.</p><a class="h-40 button button-primary fnt-sm text-uppercase btnHover" href="#target2">create design</a>
                          </div>
                        </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Catalog pannel-->
<section class="section js-hide sectin-pd">
  <div class="container position-relative">
    <!--Landing page-->
    <!-- Catalog flow links-->
    <div class="row">
      <div class="w-100 pad-tp10">
        <div class="col-12">
          <div class="fixed-panel-tabel" id="target1">
            <h2 class="fnt-xl fixed-panel-tabel__head fnt-semibold">Target with Precision.</h2>
            <h6 class="fnt-sm mb-4 fnt-semibold black4a">Browse through our list of Catalog panels and place an order</h6>
            <div class="custom-icon icon-cancel mr-0 panel-close"></div>
            <table class="table table-striped" cellspacing="0">
              <thead>
                <tr>
                  <th scope="col">Design Name</th>
                  <th scope="col">Target Size</th>
                  <th scope="col">Total Amplicons</th>
                  <th scope="col">Coverage</th>
                  <th scope="col">Last Modified</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="fnt-sm"><a class="link fnt-sm" href="fixed-panel-flow.html">AML Panel</a></td>
                  <td class="fnt-sm">22 kb</td>
                  <td class="fnt-sm">33 bp</td>
                  <td class="fnt-sm">100 %</td>
                  <td class="fnt-sm">15 - June - 2018</td>
                </tr>
                <tr>
                  <td class="fnt-sm"><a class="link fnt-sm" href="fixed-panel-flow.html">Myeloid Panel</a></td>
                  <td class="fnt-sm">35 kb</td>
                  <td class="fnt-sm">79 bp</td>
                  <td class="fnt-sm">100 %</td>
                  <td class="fnt-sm">02 - August - 2018</td>
                </tr>
                <tr>
                  <td class="fnt-sm"><a class="link fnt-sm" href="fixed-panel-flow.html">Myeloid Panel</a></td>
                  <td class="fnt-sm">40 kb</td>
                  <td class="fnt-sm">322 bp</td>
                  <td class="fnt-sm">80 %</td>
                  <td class="fnt-sm">15 - August - 2018</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--Landing Page-->
    <!-- Custom Flow Beginning-->
    <div class="row">
      <div class="col-12">
        <div class="row pad-tp4">
          <div class="col-12">
            <div class="custom-panel-tabel" id="target2">
              <div class="custom-icon icon-cancel mr-0 panel-close"></div>
              <div class="d-flex">
                <div class="panel-left col-6">
                  <h2 class="fnt-xl mb-2 fnt-semibold custom-panel-tabel__head">Customize with Precision.</h2>
                  <h6 class="fnt-sm mb-5">Let us help you design panels that would best aid your research</h6>
                  <table class="mt-2 custom-table border-top border-btm">
                    <thead class="fnt-sm fnt-400">
                      <tr>
                        <th> Assay Type</th>
                        <th> Genome</th>
                        <th> Permissable Amplicon Range</th>
                      </tr>
                    </thead>
                    <tbody class="fnt-sm black5f fnt-700">
                      <tr>
                        <td>DNA</td>
                      </tr>
                      <tr>
                        <td>Human hg19</td>
                      </tr>
                      <tr>
                        <td>2 - 500 bp</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="panel-right col-6">
                  <div class="d-flex justify-content-between align-items-center mt-3"><a class="fnt-sm fnt-semibold blueSky" href="#">Example target format</a>
                    <ul class="tabs col-md-5 col-lg-4 fnt-xs text-capitalize">
                      <li class="tab-link current" data-tab="tab-1">upload</li>
                      <li class="tab-link" data-tab="tab-2">text</li>
                    </ul>
                  </div>
                  <form>
                    <div class="tab-content current" id="tab-1">
                      <div class="upload-documents">
                        <input class="upload-files" id="upload-docs" type="file"/>
                        <div class="d-flex">
                          <div class="upload-documents__drop">
                            <div class="figure"><img class="img-fluid" src="img/upload-01.png"/></div>
                            <div class="figcaption fnt-xs fnt-regular"><span class="fnt-400">Drag and drop your file here</span></div>
                          </div><span class="or-option mx-3 my-auto text-uppercase fnt-semibold fnt-xs">or</span>
                          <div class="upload-documents__drop">
                            <div class="figure"><img src="img/upload-01.png"/></div>
                            <div class="figcaption fnt-xs fnt-regular"><span class="fnt-700 blueSky">Browse </span><span class="fnt-400">from your computer</span></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-content" id="tab-2">
                      <textarea class="fnt-sm p-3 add-text w-100" id="submit-comments" name="text" rows="8" placeholder="Please paste the gene symbols here. You need to ensure they separated by a comma or  list them one below the other."></textarea>
                    </div>
                    <input class="h-45button button--submit01 submit float-right mt-4 fnt-sm text-uppercase submitbtn opacity_5" type="submit" value="SUBMIT"/>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
