src/pug/layouts/onboarding/slider.pug
//- Onboarding Slider
// Button trigger modal
//- button.button.btn.btn-primary(type='button', data-toggle='modal', data-target='#onboardSlider') Onboarding
// Modal
#onboardSlider.modal.fade(tabindex='-1', role='dialog', aria-labelledby='onboardSliderTitle', aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span.cursr(aria-hidden='true') ×
      .modal-body.p-0
        ul.onboardingJS

          li.text-center
            .slider-content
              h3.fnt-xl.black5f.fnt-semibold Designer
              p.fnt-xs Panel designing made simple
              img.sliderImg.my-4(src="img/cp-search.png", alt="search")
              .my-4
                p.fnt-sm Hello 
                  span.fnt-semibold Stephen,
                p.fnt-sm Let us help you create something great today !
            .slider-footer
              p.white Choose from our list of
                span.fnt-semibold.d-block Catalog panels OR design a Custom panel
                | that best suits your research needs

          li.text-center
            .slider-content
              h3.fnt-xl.black5f.fnt-semibold Catalog Panels
              img.sliderImg.mt-5(src="img/slider-2.png", alt="search")
            .slider-footer
              p.white
                span.fnt-semibold Save time and effort 
                | and opt for our experimentally validated, gauranteed performance 
                span.fnt-semibold Catalog panels

          li.text-center
            .slider-content
              h3.fnt-xl.black5f.fnt-semibold Custom Panel

              // slider json
              #howItsWork
              //- img.sliderImg.my-4(src="img/onboarding/slider-img.png", alt="slider")
              //- .row.mx-0.mt-5
              //-   .col-4
              //-     p.fnt-xxs.black5f.text-uppercase Add targets by either uploading your file OR copy paste your target list.Fix errors, if any, and submit
              //-   .col-4
              //-     p.fnt-xxs.black5f.text-uppercase Review your design summary
              //-   .col-4
              //-     p.fnt-xxs.black5f.text-uppercase If you are happy with the result then request for a quote and we will get in touch with you
            .slider-footer
              p.white Design a 
                span.fnt-semibold Custom Panel 
                | in 
                span.fnt-semibold 3 simple steps 
              a(href="index.html").button.button-secondary.button--getStarted.fnt-xs.mt-3 get started

dist/pug/layouts/onboarding/slider.html

<!-- Button trigger modal-->
<!-- Modal-->
<div class="modal fade" id="onboardSlider" tabindex="-1" role="dialog" aria-labelledby="onboardSliderTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span class="cursr" aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body p-0">
        <ul class="onboardingJS">
          <li class="text-center">
            <div class="slider-content">
              <h3 class="fnt-xl black5f fnt-semibold">Designer</h3>
              <p class="fnt-xs">Panel designing made simple</p><img class="sliderImg my-4" src="img/cp-search.png" alt="search"/>
              <div class="my-4">
                <p class="fnt-sm">Hello <span class="fnt-semibold">Stephen,</span></p>
                <p class="fnt-sm">Let us help you create something great today !</p>
              </div>
            </div>
            <div class="slider-footer">
              <p class="white">Choose from our list of<span class="fnt-semibold d-block">Catalog panels OR design a Custom panel</span>that best suits your research needs</p>
            </div>
          </li>
          <li class="text-center">
            <div class="slider-content">
              <h3 class="fnt-xl black5f fnt-semibold">Catalog Panels</h3><img class="sliderImg mt-5" src="img/slider-2.png" alt="search"/>
            </div>
            <div class="slider-footer">
              <p class="white"><span class="fnt-semibold">Save time and effort </span>and opt for our experimentally validated, gauranteed performance <span class="fnt-semibold">Catalog panels</span></p>
            </div>
          </li>
          <li class="text-center">
            <div class="slider-content">
              <h3 class="fnt-xl black5f fnt-semibold">Custom Panel</h3>
              <!-- slider json-->
              <div id="howItsWork"></div>
            </div>
            <div class="slider-footer">
              <p class="white">Design a <span class="fnt-semibold">Custom Panel </span>in <span class="fnt-semibold">3 simple steps </span></p><a class="button button-secondary button--getStarted fnt-xs mt-3" href="index.html">get started</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
