src/pug/base/footer.pug
// FOOTER SECTION START
footer.login-footer.bg-white
  .container
    .row
      .col-sm
        .nav-footer.fnt-sm.d-lg-flex.justify-content-between.py-3.py-md-4
          .nav-footer__list
            a.mr-4(href="#") Terms & Conditions
            a(href="privacy-policy.html") Privacy & Cookies Policy
          span © Mission Bio. All rights reserved
// FOOTER SECTION END

dist/pug/base/footer.html

<!-- FOOTER SECTION START-->
<footer class="login-footer bg-white">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="nav-footer fnt-sm d-lg-flex justify-content-between py-3 py-md-4">
          <div class="nav-footer__list"><a class="mr-4" href="#">Terms & Conditions</a><a href="privacy-policy.html">Privacy & Cookies Policy</a></div><span>© Mission Bio. All rights reserved</span>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- FOOTER SECTION END-->
