src/pug/base/header.pug
// HEADER SECTION START
header
  section
    nav.bg-white.navbar.navbar-expand-md.fixed-top.py-3
      .container
        .d-flex.justify-content-between.align-items-center.w-100

          //BRAND LOGO
          a.navbar-brand.d-md-block.mr-lg-5(href='index.html')
            img(src="img/logo1.svg" alt="Mission bio Logo")
          #navigation.collapse.navbar-collapse

            // NAV-LIST-ITEM-RIGHT
            .nav-menu.ml-md-auto.my-md-2.my-lg-0.d-flex
              .ui.dropdown.pointing.top.right
                //- img.align-middle.pr-2(src="img/accountLogo.png" alt="accountLogo")
                span.fnt-sm.fnt-semibold.text-gray-secondary Stephen D’souza
                i.dropdown.icon
                .menu
                  a.item(href="product-solutions.html") Products & Solutions
                  a.item(href="Account-details.html") My Account
                  // Onboarding Popup Slider Button
                  a.item(data-toggle='modal', data-target='#onboardSlider') Help
                  a.item(href="contact.html") Logout

    //- //- Onboard Slider
    include ../layouts/onboarding/slider.pug
// HEADER SECTION END

dist/pug/base/header.html

<!-- HEADER SECTION START-->
<header>
  <section>
    <nav class="bg-white navbar navbar-expand-md fixed-top py-3">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center w-100">
          <!--BRAND LOGO--><a class="navbar-brand d-md-block mr-lg-5" href="index.html"><img src="img/logo1.svg" alt="Mission bio Logo"/></a>
          <div class="collapse navbar-collapse" id="navigation">
            <!-- NAV-LIST-ITEM-RIGHT-->
            <div class="nav-menu ml-md-auto my-md-2 my-lg-0 d-flex">
              <div class="ui dropdown pointing top right"><span class="fnt-sm fnt-semibold text-gray-secondary">Stephen D’souza</span><i class="dropdown icon"></i>
                <div class="menu"><a class="item" href="product-solutions.html">Products & Solutions</a><a class="item" href="Account-details.html">My Account</a>
                  <!-- Onboarding Popup Slider Button--><a class="item" data-toggle="modal" data-target="#onboardSlider">Help</a><a class="item" href="contact.html">Logout</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- Button trigger modal-->
    <!-- Modal-->
    <div class="modal fade" id="onboardSlider" tabindex="-1" role="dialog" aria-labelledby="onboardSliderTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span class="cursr" aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body p-0">
            <ul class="onboardingJS">
              <li class="text-center">
                <div class="slider-content">
                  <h3 class="fnt-xl black5f fnt-semibold">Designer</h3>
                  <p class="fnt-xs">Panel designing made simple</p><img class="sliderImg my-4" src="img/cp-search.png" alt="search"/>
                  <div class="my-4">
                    <p class="fnt-sm">Hello <span class="fnt-semibold">Stephen,</span></p>
                    <p class="fnt-sm">Let us help you create something great today !</p>
                  </div>
                </div>
                <div class="slider-footer">
                  <p class="white">Choose from our list of<span class="fnt-semibold d-block">Catalog panels OR design a Custom panel</span>that best suits your research needs</p>
                </div>
              </li>
              <li class="text-center">
                <div class="slider-content">
                  <h3 class="fnt-xl black5f fnt-semibold">Catalog Panels</h3><img class="sliderImg mt-5" src="img/slider-2.png" alt="search"/>
                </div>
                <div class="slider-footer">
                  <p class="white"><span class="fnt-semibold">Save time and effort </span>and opt for our experimentally validated, gauranteed performance <span class="fnt-semibold">Catalog panels</span></p>
                </div>
              </li>
              <li class="text-center">
                <div class="slider-content">
                  <h3 class="fnt-xl black5f fnt-semibold">Custom Panel</h3>
                  <!-- slider json-->
                  <div id="howItsWork"></div>
                </div>
                <div class="slider-footer">
                  <p class="white">Design a <span class="fnt-semibold">Custom Panel </span>in <span class="fnt-semibold">3 simple steps </span></p><a class="button button-secondary button--getStarted fnt-xs mt-3" href="index.html">get started</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>
<!-- HEADER SECTION END-->
