dist/pug/components/banner.html

<!-- BANNER SECTION START-->
<section class="banner">
  <div class="blue-banner">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="customer-prtallink mt-4 d-inline-block">
            <div class="d-flex align-items-center my-2">
              <div class="custom-icon icon-left-open-mini mr-0 text-white"></div><a class="ml-1 customer-prtallink--item fnt-xs fnt-semibold white" href="#">Back to Customer Portal</a>
            </div>
            <h2 class="h2 fnt-semibold white">Designer</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- BANNER SECTION END-->

src/pug/components/banner.pug
// BANNER SECTION START
section.banner
  .blue-banner
    .container
      .row
        .col-6
          .customer-prtallink.mt-4.d-inline-block
            .d-flex.align-items-center.my-2
              .custom-icon.icon-left-open-mini.mr-0.text-white
              a.ml-1.customer-prtallink--item.fnt-xs.fnt-semibold.white(href="#") Back to Customer Portal
            h2.h2.fnt-semibold.white Designer
// BANNER SECTION END
