src/pug/components/breadcrumb.pug
// Breadcrumb Start
nav(aria-label='breadcrumb')
  ol.breadcrumb.p-0
    li.breadcrumb-item
      a(href='#') Designer
    li.breadcrumb-item.active(aria-current='page')
      .custom-icon.icon-left-open-mini.mr-0 Custom Panel
// Breadcrumb End

// Landing page Breadcrumb
.customer-prtallink
  a(href="#") Back to Customer Portal
  h2 Designer

dist/pug/components/breadcrumb.html

<!-- Breadcrumb Start-->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb p-0">
    <li class="breadcrumb-item"><a href="#">Designer</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      <div class="custom-icon icon-left-open-mini mr-0">Custom Panel</div>
    </li>
  </ol>
</nav>
<!-- Breadcrumb End-->
<!-- Landing page Breadcrumb-->
<div class="customer-prtallink"><a href="#">Back to Customer Portal</a>
  <h2>Designer</h2>
</div>
