src/pug/components/nav-list.pug
//- nav list 
.col-8.nav-lists
    .row
        .col-12
            ul.cutom-flows.mt-5
                li.active.cutom-flows__items.d-inline-block
                    .outer-circle.m-auto
                        .flow-circle.text-center
                            span.fnt-sm 1
                    p Submit Targets
                li.cutom-flows__items.d-inline-block
                    .outer-circle.m-auto
                        .flow-circle.text-center
                            span.fnt-sm 2
                    p Review Design
                li.cutom-flows__items.d-inline-block
                    .outer-circle.m-auto
                        .flow-circle.text-center
                            span.fnt-sm 3
                    p Request Quote

dist/pug/components/nav-list.html

<div class="col-8 nav-lists">
  <div class="row">
    <div class="col-12">
      <ul class="cutom-flows mt-5">
        <li class="active cutom-flows__items d-inline-block">
          <div class="outer-circle m-auto">
            <div class="flow-circle text-center"><span class="fnt-sm">1</span></div>
          </div>
          <p>Submit Targets</p>
        </li>
        <li class="cutom-flows__items d-inline-block">
          <div class="outer-circle m-auto">
            <div class="flow-circle text-center"><span class="fnt-sm">2</span></div>
          </div>
          <p>Review Design</p>
        </li>
        <li class="cutom-flows__items d-inline-block">
          <div class="outer-circle m-auto">
            <div class="flow-circle text-center"><span class="fnt-sm">3</span></div>
          </div>
          <p>Request Quote</p>
        </li>
      </ul>
    </div>
  </div>
</div>
