src/pug/components/pagination.pug
// START PAGINATION
nav(aria-label='Page navigation').float-right.pagiNav
  ul.pagination.align-items-center
    //- Previous Button
    li.page-item
      a.text-center.page-link(href='#', aria-label='Previous')
        //- .custom-icon.icon-left-dir.mr-0
        img.page-link--left.img-fluid(src='img/icons/arrow01.svg')
    li.page-item.fnt-xs
      //- label.form-label Country
      .ui.selection.dropdown.form-dropdown.pagi-dropdown.text-center
        input(type="hidden" name="DataStatus")
        .defualt.text
          | Rows 
          span.displayValue 10 
          | of 
          span.totalValue 100
        .menu.hidden
          .item.text-center(data-value='1-10')
            | 10
          .item.text-center(data-value='20')
            | 20
          .item.text-center(data-value='30')
            | 30
          .item.text-center(data-value='40')
            | 40
    //- Next Button
    li.page-item
      a.page-link(href='#', aria-label='Next')
        //- .custom-icon.icon-right-dir.mr-0
        img.img-fluid(src='img/icons/arrow01.svg')
// END PAGINATION

dist/pug/components/pagination.html

<!-- START PAGINATION-->
<nav class="float-right pagiNav" aria-label="Page navigation">
  <ul class="pagination align-items-center">
    <li class="page-item"><a class="text-center page-link" href="#" aria-label="Previous"><img class="page-link--left img-fluid" src="img/icons/arrow01.svg"/></a></li>
    <li class="page-item fnt-xs">
      <div class="ui selection dropdown form-dropdown pagi-dropdown text-center">
        <input type="hidden" name="DataStatus"/>
        <div class="defualt text">Rows <span class="displayValue">10 </span>of <span class="totalValue">100</span></div>
        <div class="menu hidden">
          <div class="item text-center" data-value="1-10">10</div>
          <div class="item text-center" data-value="20">20</div>
          <div class="item text-center" data-value="30">30</div>
          <div class="item text-center" data-value="40">40</div>
        </div>
      </div>
    </li>
    <li class="page-item"><a class="page-link" href="#" aria-label="Next"><img class="img-fluid" src="img/icons/arrow01.svg"/></a></li>
  </ul>
</nav>
<!-- END PAGINATION-->
