src/pug/components/sidebar.pug
// COMMON COMPONENT SIDEBAR
.col-4
  //- #myDiv
  .ui.sticky
  
    .side-bar
        //- screen-
        .target-status
          span.target-status--btn.js-hide.fnt-xxs.mb-2.text-uppercase
          .d-flex.align-items-center
            h3.target-status--head.h3.py-2 Custom Panel
            .panel-lock.js-hide
              .custom-icon.icon-lock.icon-lock--sidebar.pl-2
            //- .panel-edit.js-show
            //-   .custom-icon.icon-pencil.icon-lock--sidebar.pl-2
          
          p.target-sttaus--info.fnt-sm.js-hide Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        .d-flex.my-4.pi-bar.align-items-center
          ul.progress-circle
            li.progress-circle__slots
              span 
            li.progress-circle__slots
              span 
            li.progress-circle__slots
              span 
            li.progress-circle__slots
              span 
            li.progress-circle__slots
              span 
            li.progress-circle__slots
              span 
            li.progress-circle__slots
              span 
            li.progress-circle__slots
              span 
            li.progress-circle__slots
              span 
            li.progress-circle__slots
              span
            li.progress-circle__slots
              span
            li.progress-circle__slots
              span 
          .progress-value.pl-4.ml-1
            span.progress-value--per.js-hide.h1.white.completePercent 25%
            span.progress-value--blank
            p.fnt-sm.mt-2 Coverage
        ul.side-bar-list.border-btm--white
          li.row.side-bar-list__items
            h3.col-7 Number of Targets 
            span.fnt-700 19
          li.row.side-bar-list__items
            h3.col-7 Est. No. of Amplicons
            span.fnt-700 50
        ul.side-bar-list.pt-2.mt-4
          li.row.side-bar-list__items
            h3.col-7 Amplicon Size
            span.fnt-700 500 bp
          li.row.side-bar-list__items
            h3.col-7 Genome
            span.fnt-700 Human hg19
          li.row.side-bar-list__items
            h3.col-7 Assay Type 
            span.fnt-700 DNA
          
        

dist/pug/components/sidebar.html

<!-- COMMON COMPONENT SIDEBAR-->
<div class="col-4">
  <div class="ui sticky">
    <div class="side-bar">
      <div class="target-status"><span class="target-status--btn js-hide fnt-xxs mb-2 text-uppercase"></span>
        <div class="d-flex align-items-center">
          <h3 class="target-status--head h3 py-2">Custom Panel</h3>
          <div class="panel-lock js-hide">
            <div class="custom-icon icon-lock icon-lock--sidebar pl-2"></div>
          </div>
        </div>
        <p class="target-sttaus--info fnt-sm js-hide">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
      </div>
      <div class="d-flex my-4 pi-bar align-items-center">
        <ul class="progress-circle">
          <li class="progress-circle__slots"><span> </span></li>
          <li class="progress-circle__slots"><span> </span></li>
          <li class="progress-circle__slots"><span> </span></li>
          <li class="progress-circle__slots"><span> </span></li>
          <li class="progress-circle__slots"><span> </span></li>
          <li class="progress-circle__slots"><span> </span></li>
          <li class="progress-circle__slots"><span> </span></li>
          <li class="progress-circle__slots"><span> </span></li>
          <li class="progress-circle__slots"><span> </span></li>
          <li class="progress-circle__slots"><span></span></li>
          <li class="progress-circle__slots"><span></span></li>
          <li class="progress-circle__slots"><span> </span></li>
        </ul>
        <div class="progress-value pl-4 ml-1"><span class="progress-value--per js-hide h1 white completePercent">25%</span><span class="progress-value--blank"></span>
          <p class="fnt-sm mt-2">Coverage</p>
        </div>
      </div>
      <ul class="side-bar-list border-btm--white">
        <li class="row side-bar-list__items">
          <h3 class="col-7">Number of Targets </h3><span class="fnt-700">19</span>
        </li>
        <li class="row side-bar-list__items">
          <h3 class="col-7">Est. No. of Amplicons</h3><span class="fnt-700">50</span>
        </li>
      </ul>
      <ul class="side-bar-list pt-2 mt-4">
        <li class="row side-bar-list__items">
          <h3 class="col-7">Amplicon Size</h3><span class="fnt-700">500 bp</span>
        </li>
        <li class="row side-bar-list__items">
          <h3 class="col-7">Genome</h3><span class="fnt-700">Human hg19</span>
        </li>
        <li class="row side-bar-list__items">
          <h3 class="col-7">Assay Type </h3><span class="fnt-700">DNA</span>
        </li>
      </ul>
    </div>
  </div>
</div>
