src/pug/layouts/custom-flow/design-summary.pug
// Order Flow Step 2
li.order__flow#sticky-content.js-hide.bx-shadow.fnt-sm

    .d-flex.justify-content-between.align-items-center.pb-4.mb-2.pt-2.order--head
        h2.d-inline-block.fnt-md.black1d.fnt-semibold  Design Summary
        .next.d-flex.align-items-center
            .next--delet-order.m-15(data-toggle='tooltip', data-placement='bottom', title='Delete')
                span.d-inline-block
                span.d-inline-block
                span.d-inline-block
            a.button.button-primary.button--flow.flow-next.btnHover.d-inline-block.text-uppercase.mr-0 view dashboard

    .d-flex.justify-content-end.py-4
        .col-10.p-0.d-flex.justify-content-end.align-items-center
            .col-6.searchbox.d-flex
                input.w-100.fnt-xs(type='text', placeholder='Search Target name or ID', name='search')
            include ../../components/pagination.pug

    // Target Summary
    .design-name#design-summary.p-0
        // COMMON COMPONENT TABLE
        table.table.table--small.table-striped(cellspacing="0")
            thead
                tr
                    th(scope='col') Target Name
                        .custom-icon.icon-arrow-combo.fnt-xxs
                    th(scope='col') ID
                        .custom-icon.icon-arrow-combo.fnt-xxs
                    th.text-center(scope='col') No. of Amplicons
                        .custom-icon.icon-arrow-combo.fnt-xxs
                    th.text-center(scope='col') Coverage
                        .custom-icon.icon-arrow-combo.fnt-xxs
                    th(scope='col') UCSC Link

            tbody.fnt-xs.tbody
                tr
                    td.text-uppercase abc
                    td.text-uppercase NM_000155(GAA):YUE7C
                    td.text-uppercase.text-center 15bp
                    td.text-uppercase.text-center _
                    td.text-capitalize
                        a.link.fnt-xs(href="javascript:void(0)") link

                tr
                    td.text-uppercase cde
                    td.text-uppercase NM_000155(GAA):YUE7C
                    td.text-uppercase.text-center 15bp
                    td.text-uppercase.text-center _
                    td.text-capitalize
                        a.link.fnt-xs(href="javascript:void(0)") link

                tr
                    td.text-uppercase fgh
                    td.text-uppercase NM_000155(GAA):YUE7C
                    td.text-uppercase.text-center 15bp
                    td.text-uppercase.text-center _
                    td.text-capitalize
                        a.link.fnt-xs(href="javascript:void(0)") link
                tr
                    td.text-uppercase ijk
                    td.text-uppercase NM_000155(GAA):YUE7C
                    td.text-uppercase.text-center 15bp
                    td.text-uppercase.text-center _
                    td.text-capitalize
                        a.link.fnt-xs(href="javascript:void(0)") link
                tr
                    td.text-uppercase lmn
                    td.text-uppercase NM_000155(GAA):YUE7C
                    td.text-uppercase.text-center 15bp
                    td.text-uppercase.text-center _
                    td.text-capitalize
                        a.link.fnt-xs(href="javascript:void(0)") link
                tr
                    td.text-uppercase opq
                    td.text-uppercase NM_000155(GAA):YUE7C
                    td.text-uppercase.text-center 15bp
                    td.text-uppercase.text-center _
                    td.text-capitalize
                        a.link.fnt-xs(href="javascript:void(0)") link
                tr
                    td.text-uppercase cde
                    td.text-uppercase NM_000155(GAA):YUE7C
                    td.text-uppercase.text-center 15bp
                    td.text-uppercase.text-center _
                    td.text-capitalize
                        a.link.fnt-xs(href="javascript:void(0)") link

                tr
                    td.text-uppercase fgh
                    td.text-uppercase NM_000155(GAA):YUE7C
                    td.text-uppercase.text-center 15bp
                    td.text-uppercase.text-center _
                    td.text-capitalize
                        a.link.fnt-xs(href="javascript:void(0)") link
                tr
                    td.text-uppercase ijk
                    td.text-uppercase NM_000155(GAA):YUE7C
                    td.text-uppercase.text-center 15bp
                    td.text-uppercase.text-center _
                    td.text-capitalize
                        a.link.fnt-xs(href="javascript:void(0)") link
                tr
                    td.text-uppercase rst
                    td.text-uppercase NM_000155(GAA):YUE7C
                    td.text-uppercase.text-center 15bp
                    td.text-uppercase.text-center _
                    td.text-capitalize
                        a.link.fnt-xs(href="javascript:void(0)") link
    #requestSubmit.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body.px-5.pt-0.pb-3
                    h5.fnt-semibold.black5f Request Submitted
                    p.my-2 Thank you for submitting your custom design
                    p.pb-4 You will be notified via e-mail once the result is ready.

dist/pug/layouts/custom-flow/design-summary.html

<!-- Order Flow Step 2-->
<li class="order__flow js-hide bx-shadow fnt-sm" id="sticky-content">
  <div class="d-flex justify-content-between align-items-center pb-4 mb-2 pt-2 order--head">
    <h2 class="d-inline-block fnt-md black1d fnt-semibold"> Design Summary</h2>
    <div class="next d-flex align-items-center">
      <div class="next--delet-order m-15" data-toggle="tooltip" data-placement="bottom" title="Delete"><span class="d-inline-block"></span><span class="d-inline-block"></span><span class="d-inline-block"></span></div><a class="button button-primary button--flow flow-next btnHover d-inline-block text-uppercase mr-0">view dashboard</a>
    </div>
  </div>
  <div class="d-flex justify-content-end py-4">
    <div class="col-10 p-0 d-flex justify-content-end align-items-center">
      <div class="col-6 searchbox d-flex">
        <input class="w-100 fnt-xs" type="text" placeholder="Search Target name or ID" name="search"/>
      </div>
      <!-- START PAGINATION-->
      <nav class="float-right pagiNav" aria-label="Page navigation">
        <ul class="pagination align-items-center">
          <li class="page-item"><a class="text-center page-link" href="#" aria-label="Previous"><img class="page-link--left img-fluid" src="img/icons/arrow01.svg"/></a></li>
          <li class="page-item fnt-xs">
            <div class="ui selection dropdown form-dropdown pagi-dropdown text-center">
              <input type="hidden" name="DataStatus"/>
              <div class="defualt text">Rows <span class="displayValue">10 </span>of <span class="totalValue">100</span></div>
              <div class="menu hidden">
                <div class="item text-center" data-value="1-10">10</div>
                <div class="item text-center" data-value="20">20</div>
                <div class="item text-center" data-value="30">30</div>
                <div class="item text-center" data-value="40">40</div>
              </div>
            </div>
          </li>
          <li class="page-item"><a class="page-link" href="#" aria-label="Next"><img class="img-fluid" src="img/icons/arrow01.svg"/></a></li>
        </ul>
      </nav>
      <!-- END PAGINATION-->
    </div>
  </div>
  <!-- Target Summary-->
  <div class="design-name p-0" id="design-summary">
    <!-- COMMON COMPONENT TABLE-->
    <table class="table table--small table-striped" cellspacing="0">
      <thead>
        <tr>
          <th scope="col">Target Name
            <div class="custom-icon icon-arrow-combo fnt-xxs"></div>
          </th>
          <th scope="col">ID
            <div class="custom-icon icon-arrow-combo fnt-xxs"></div>
          </th>
          <th class="text-center" scope="col">No. of Amplicons
            <div class="custom-icon icon-arrow-combo fnt-xxs"></div>
          </th>
          <th class="text-center" scope="col">Coverage
            <div class="custom-icon icon-arrow-combo fnt-xxs"></div>
          </th>
          <th scope="col">UCSC Link</th>
        </tr>
      </thead>
      <tbody class="fnt-xs tbody">
        <tr>
          <td class="text-uppercase">abc</td>
          <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
          <td class="text-uppercase text-center">15bp</td>
          <td class="text-uppercase text-center">_</td>
          <td class="text-capitalize"><a class="link fnt-xs" href="javascript:void(0)">link</a></td>
        </tr>
        <tr>
          <td class="text-uppercase">cde</td>
          <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
          <td class="text-uppercase text-center">15bp</td>
          <td class="text-uppercase text-center">_</td>
          <td class="text-capitalize"><a class="link fnt-xs" href="javascript:void(0)">link</a></td>
        </tr>
        <tr>
          <td class="text-uppercase">fgh</td>
          <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
          <td class="text-uppercase text-center">15bp</td>
          <td class="text-uppercase text-center">_</td>
          <td class="text-capitalize"><a class="link fnt-xs" href="javascript:void(0)">link</a></td>
        </tr>
        <tr>
          <td class="text-uppercase">ijk</td>
          <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
          <td class="text-uppercase text-center">15bp</td>
          <td class="text-uppercase text-center">_</td>
          <td class="text-capitalize"><a class="link fnt-xs" href="javascript:void(0)">link</a></td>
        </tr>
        <tr>
          <td class="text-uppercase">lmn</td>
          <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
          <td class="text-uppercase text-center">15bp</td>
          <td class="text-uppercase text-center">_</td>
          <td class="text-capitalize"><a class="link fnt-xs" href="javascript:void(0)">link</a></td>
        </tr>
        <tr>
          <td class="text-uppercase">opq</td>
          <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
          <td class="text-uppercase text-center">15bp</td>
          <td class="text-uppercase text-center">_</td>
          <td class="text-capitalize"><a class="link fnt-xs" href="javascript:void(0)">link</a></td>
        </tr>
        <tr>
          <td class="text-uppercase">cde</td>
          <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
          <td class="text-uppercase text-center">15bp</td>
          <td class="text-uppercase text-center">_</td>
          <td class="text-capitalize"><a class="link fnt-xs" href="javascript:void(0)">link</a></td>
        </tr>
        <tr>
          <td class="text-uppercase">fgh</td>
          <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
          <td class="text-uppercase text-center">15bp</td>
          <td class="text-uppercase text-center">_</td>
          <td class="text-capitalize"><a class="link fnt-xs" href="javascript:void(0)">link</a></td>
        </tr>
        <tr>
          <td class="text-uppercase">ijk</td>
          <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
          <td class="text-uppercase text-center">15bp</td>
          <td class="text-uppercase text-center">_</td>
          <td class="text-capitalize"><a class="link fnt-xs" href="javascript:void(0)">link</a></td>
        </tr>
        <tr>
          <td class="text-uppercase">rst</td>
          <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
          <td class="text-uppercase text-center">15bp</td>
          <td class="text-uppercase text-center">_</td>
          <td class="text-capitalize"><a class="link fnt-xs" href="javascript:void(0)">link</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal fade" id="requestSubmit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body px-5 pt-0 pb-3">
          <h5 class="fnt-semibold black5f">Request Submitted</h5>
          <p class="my-2">Thank you for submitting your custom design</p>
          <p class="pb-4">You will be notified via e-mail once the result is ready.</p>
        </div>
      </div>
    </div>
  </div>
</li>
