dist/pug/layouts/custom-flow/name-design.html

<!-- Order Flow Steps-->
<li class="order__flow js-show bx-shadow fnt-sm">
  <div class="d-flex justify-content-between align-items-center pb-3 mb-2 pt-2 order--head">
    <h2 class="d-inline-block fnt-md black1d fnt-semibold"> Name your design</h2>
    <div class="next d-flex align-items-center">
      <div class="next--delet-order m-15" data-toggle="tooltip" data-placement="bottom" title="Delete"><span class="d-inline-block"></span><span class="d-inline-block"></span><span class="d-inline-block"></span></div><a class="button button-primary button--next flow-next d-inline-block mr-0">next</a>
    </div>
  </div>
  <!-- Name Your Design-->
  <div class="design-name">
    <h2 class="my-2 pb-4 fnt-semibold">Before you proceed please give your design a Name and a Description</h2>
    <div class="d-flex justify-content-between mb-4">
      <label class="blackc3b" for="">Design name</label><span class="label-icon--star blue0a"> :</span>
      <div class="col-9 col-lg-10">
        <input class="form-control" id="first" type="text" placeholder="Give your custom design a name" data-parsley-trigger="keyup" required="" maxlength="30"/>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <label class="blackc3b" for="">Description</label><span class="label-icon blue0a blue0a"> :</span>
      <div class="col-9 col-lg-10">
        <textarea class="py-3 form-control" name="text" placeholder="Add a description for your reference" rows="5" maxlength="250"></textarea>
      </div>
    </div>
  </div>
</li>

src/pug/layouts/custom-flow/name-design.pug
// Order Flow Steps
li.order__flow.js-show.bx-shadow.fnt-sm

    .d-flex.justify-content-between.align-items-center.pb-3.mb-2.pt-2.order--head
        h2.d-inline-block.fnt-md.black1d.fnt-semibold  Name your design
        .next.d-flex.align-items-center
            .next--delet-order.m-15(data-toggle='tooltip', data-placement='bottom', title='Delete')
                span.d-inline-block
                span.d-inline-block
                span.d-inline-block
            a.button.button-primary.button--next.flow-next.d-inline-block.mr-0 next
    // Name Your Design
    .design-name
        h2.my-2.pb-4.fnt-semibold Before you proceed please give your design a Name and a Description

        .d-flex.justify-content-between.mb-4
            label.blackc3b(for="") Design name
            span.label-icon--star.blue0a  :
            .col-9.col-lg-10
                input#first.form-control(type="text" placeholder="Give your custom design a name" data-parsley-trigger="keyup" required="" maxlength="30")
        .d-flex.justify-content-between
            label.blackc3b(for="") Description
            span.label-icon.blue0a.blue0a  :
            .col-9.col-lg-10
                textarea.py-3.form-control(name="text" placeholder="Add a description for your reference" rows="5" maxlength="250")
