dist/pug/layouts/custom-flow/no-match.html

<!-- No Matches -->
<div id="match_0">
  <div class="col-12">
    <div class="d-flex justify-content-center">
      <div class="col-7 col-xl-6 no-overlap text-center">
        <h2 class="fnt-semibold fnt-xl black4a mb-2">No overlap found with any of our existing Catalog panels.</h2>
        <p class="fnt-sm black4a mb-4">We are, however, working hard to add more Catalog panels to our existing list.For now, let us help you </p>
        <h3 class="fnt-700 blueSky fnt-sm text-uppercase mb-5">Create your custom design</h3><img class="img-fluid" src="img/no-overlap.png"/>
      </div>
    </div>
  </div>
</div>

src/pug/layouts/custom-flow/no-match.pug
// No Matches 
#match_0
    .col-12
        .d-flex.justify-content-center
            .col-7.col-xl-6.no-overlap.text-center
                h2.fnt-semibold.fnt-xl.black4a.mb-2 No overlap found with any of our existing Catalog panels.
                p.fnt-sm.black4a.mb-4 We are, however, working hard to add more Catalog panels to our existing list.For now, let us help you 
                h3.fnt-700.blueSky.fnt-sm.text-uppercase.mb-5 Create your custom design
                img.img-fluid(src="img/no-overlap.png")
