src/pug/layouts/custom-flow/one-match.pug
//Single Match
#match_1
  .row
      .col-4
        .py-4
            span.fnt-md.fnt-semibold Overview
            a(href="#").button.button-secondary.button--flow.float-right.btnHover download
      
        ul.overview-list
          li.overview-list__items
            .overview-content
              h2.mb-3.fnt-sm.fnt-700.blue0a AML panel
              .row
                ul.col-8.overview-content-list
                  li.row.overview-content-list__items
                    h3.col-8.fnt-xs.fnt-semibold.gray9b No. of targets
                    span 19
                  li.row.overview-content-list__items
                    h3.col-8.fnt-xs.fnt-semibold.gray9b.text-capitalize coverage
                    span.fnt-sm.black5f.fnt-semibold 50%

                .explore.col-8.col-xl-4.p-xl-0
                  a(href="fixed-panel-flow.html").mb-1.fnt-xs.button.button-primary.button--ex explore
                              
      // Overlap Table Content
      .col-8
            // COMMON COMPONENT TABLE
            .d-flex.justify-content-between.align-items-center
              h2.fnt-md.fnt-semibold.text-capitalize.d-inline-block.py-4 overlap table
              .col-5.p-0.searchbox.d-flex
                input.w-100.cursr.fnt-xs(type='text', placeholder='Search target name or ID', name='search')
            table.table.fnt-sm.overlap-table.table-striped(cellspacing="0")
                thead
                    tr.overlap-table-content
                        th.overlap-table-content__head(scope='col') Target Name
                          .custom-icon.icon-arrow-combo.fnt-xxs
                        th.overlap-table-content__head(scope='col') ID
                          .custom-icon.icon-arrow-combo.fnt-xxs
                        th.overlap-table-content__head(scope='col') AML Panel
                          .custom-icon.icon-arrow-combo.fnt-xxs
                tbody.text-uppercase.tbody.scrollbar
                    tr
                      td abc
                            
                      td NM_000155(GAA):RTSH2
                      td 
                        .progress
                          .progress-bar.red.w-10(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 10%
                    tr
                      td abc
                            
                      td NM_000155(GAA):RTSH2
                      td 
                        .progress
                          .progress-bar.red.w-50(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 50%
                    tr
                        td abc
                            
                        td NM_000155(GAA):RTSH2
                        td 
                          .progress
                            .progress-bar.red.w-25(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                          span 25%
                    tr
                        td abc
                            
                        td NM_000155(GAA):RTSH2
                        td 
                          .progress
                            .progress-bar.succes.w-75(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                          span 75%
                    tr
                        td abc
                            
                        td NM_000155(GAA):RTSH2
                        td 
                          .progress
                            .progress-bar.orange.w-40(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                          span 40%
                    tr
                      td abc
                          
                      td NM_000155(GAA):RTSH2
                      td 
                        .progress
                          .progress-bar.red.w-30(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 30%
                    tr
                      td abc
                          
                      td NM_000155(GAA):RTSH2
                      td 
                        .progress
                          .progress-bar.succes.w-90(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 90%
                    tr
                        td abc
                            
                        td NM_000155(GAA):RTSH2
                        td 
                          .progress
                            .progress-bar.orange.w-40(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                          span 40%
                    tr
                      td abc
                          
                      td NM_000155(GAA):RTSH2
                      td 
                        .progress
                          .progress-bar.red.w-30(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 30%
                    tr
                      td abc
                          
                      td NM_000155(GAA):RTSH2
                      td 
                        .progress
                          .progress-bar.succes.w-90(role='progressbar', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                        span 90%
                            

dist/pug/layouts/custom-flow/one-match.html

<!--Single Match-->
<div id="match_1">
  <div class="row">
    <div class="col-4">
      <div class="py-4"><span class="fnt-md fnt-semibold">Overview</span><a class="button button-secondary button--flow float-right btnHover" href="#">download</a></div>
      <ul class="overview-list">
        <li class="overview-list__items">
          <div class="overview-content">
            <h2 class="mb-3 fnt-sm fnt-700 blue0a">AML panel</h2>
            <div class="row">
              <ul class="col-8 overview-content-list">
                <li class="row overview-content-list__items">
                  <h3 class="col-8 fnt-xs fnt-semibold gray9b">No. of targets</h3><span>19</span>
                </li>
                <li class="row overview-content-list__items">
                  <h3 class="col-8 fnt-xs fnt-semibold gray9b text-capitalize">coverage</h3><span class="fnt-sm black5f fnt-semibold">50%</span>
                </li>
              </ul>
              <div class="explore col-8 col-xl-4 p-xl-0"><a class="mb-1 fnt-xs button button-primary button--ex" href="fixed-panel-flow.html">explore</a></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- Overlap Table Content-->
    <div class="col-8">
      <!-- COMMON COMPONENT TABLE-->
      <div class="d-flex justify-content-between align-items-center">
        <h2 class="fnt-md fnt-semibold text-capitalize d-inline-block py-4">overlap table</h2>
        <div class="col-5 p-0 searchbox d-flex">
          <input class="w-100 cursr fnt-xs" type="text" placeholder="Search target name or ID" name="search"/>
        </div>
      </div>
      <table class="table fnt-sm overlap-table table-striped" cellspacing="0">
        <thead>
          <tr class="overlap-table-content">
            <th class="overlap-table-content__head" scope="col">Target Name
              <div class="custom-icon icon-arrow-combo fnt-xxs"></div>
            </th>
            <th class="overlap-table-content__head" scope="col">ID
              <div class="custom-icon icon-arrow-combo fnt-xxs"></div>
            </th>
            <th class="overlap-table-content__head" scope="col">AML Panel
              <div class="custom-icon icon-arrow-combo fnt-xxs"></div>
            </th>
          </tr>
        </thead>
        <tbody class="text-uppercase tbody scrollbar">
          <tr>
            <td>abc</td>
            <td>NM_000155(GAA):RTSH2</td>
            <td> 
              <div class="progress">
                <div class="progress-bar red w-10" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div><span>10%</span>
            </td>
          </tr>
          <tr>
            <td>abc</td>
            <td>NM_000155(GAA):RTSH2</td>
            <td> 
              <div class="progress">
                <div class="progress-bar red w-50" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div><span>50%</span>
            </td>
          </tr>
          <tr>
            <td>abc</td>
            <td>NM_000155(GAA):RTSH2</td>
            <td> 
              <div class="progress">
                <div class="progress-bar red w-25" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div><span>25%</span>
            </td>
          </tr>
          <tr>
            <td>abc</td>
            <td>NM_000155(GAA):RTSH2</td>
            <td> 
              <div class="progress">
                <div class="progress-bar succes w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div><span>75%</span>
            </td>
          </tr>
          <tr>
            <td>abc</td>
            <td>NM_000155(GAA):RTSH2</td>
            <td> 
              <div class="progress">
                <div class="progress-bar orange w-40" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div><span>40%</span>
            </td>
          </tr>
          <tr>
            <td>abc</td>
            <td>NM_000155(GAA):RTSH2</td>
            <td> 
              <div class="progress">
                <div class="progress-bar red w-30" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div><span>30%</span>
            </td>
          </tr>
          <tr>
            <td>abc</td>
            <td>NM_000155(GAA):RTSH2</td>
            <td> 
              <div class="progress">
                <div class="progress-bar succes w-90" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div><span>90%</span>
            </td>
          </tr>
          <tr>
            <td>abc</td>
            <td>NM_000155(GAA):RTSH2</td>
            <td> 
              <div class="progress">
                <div class="progress-bar orange w-40" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div><span>40%</span>
            </td>
          </tr>
          <tr>
            <td>abc</td>
            <td>NM_000155(GAA):RTSH2</td>
            <td> 
              <div class="progress">
                <div class="progress-bar red w-30" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div><span>30%</span>
            </td>
          </tr>
          <tr>
            <td>abc</td>
            <td>NM_000155(GAA):RTSH2</td>
            <td> 
              <div class="progress">
                <div class="progress-bar succes w-90" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div><span>90%</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
