dist/pug/layouts/custom-flow/target-summary.html

<!-- Order Flow Step 1-->
<li class="order__flow js-hide step2 bx-shadow fnt-sm" id="sticky-content">
  <div class="d-flex justify-content-between align-items-center pb-4 mb-2 pt-2 order--head">
    <h2 class="d-inline-block fnt-md black1d fnt-semibold"> Target Summary</h2>
    <div class="next d-flex align-items-center">
      <div class="next--delet-order" data-toggle="tooltip" data-placement="bottom" title="Delete"><span class="d-inline-block"> </span><span class="d-inline-block"> </span><span class="d-inline-block"></span></div>
      <button class="button button-secondary flow-disabled m-15 button--flow opacity_5 d-inline-block text-uppercase">save for later</button>
      <button class="button button-primary flow-disabled button--flow flow-next opacity_5 d-inline-block text-uppercase mr-0" disabled="">continue</button>
    </div>
  </div>
  <div class="target-table-sm">
    <div class="d-flex">
      <div class="succed-target pl-4"><span class="succed-target__item">28</span><span class="succed-target__item"> of</span><span class="succed-target__item ml-1"> 30</span><span class="succed-target__item"> targets added successfully</span></div>
      <div class="error-target ml-5"><span class="error-target__item">2</span><span class="error-target__item"> target gene IDs error</span></div>
    </div>
    <div class="d-flex justify-content-between align-items-center py-4">
      <h2 class="fnt-semibold fnt-md target-summary-tag js-hide text-capitalize">target summary</h2>
      <button class="add-target text-capitalize fnt-xs button button-secondary px-2 d-inline-block fnt-700" id="addTarget">+ Add Target</button>
      <div class="col-9 p-0 d-flex justify-content-end align-items-center">         
        <div class="col-6 pl-md-0 searchbox d-flex">
          <input class="w-100 fnt-xs" type="text" placeholder="Search target name or ID" name="search"/>
        </div>
        <!-- START PAGINATION-->
        <nav class="float-right pagiNav" aria-label="Page navigation">
          <ul class="pagination align-items-center">
            <li class="page-item"><a class="text-center page-link" href="#" aria-label="Previous"><img class="page-link--left img-fluid" src="img/icons/arrow01.svg"/></a></li>
            <li class="page-item fnt-xs">
              <div class="ui selection dropdown form-dropdown pagi-dropdown text-center">
                <input type="hidden" name="DataStatus"/>
                <div class="defualt text">Rows <span class="displayValue">10 </span>of <span class="totalValue">100</span></div>
                <div class="menu hidden">
                  <div class="item text-center" data-value="1-10">10</div>
                  <div class="item text-center" data-value="20">20</div>
                  <div class="item text-center" data-value="30">30</div>
                  <div class="item text-center" data-value="40">40</div>
                </div>
              </div>
            </li>
            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><img class="img-fluid" src="img/icons/arrow01.svg"/></a></li>
          </ul>
        </nav>
        <!-- END PAGINATION-->
      </div>
    </div>
    <!-- Target Summary-->
    <div class="design-name p-0">
      <!-- COMMON COMPONENT TABLE-->
      <table class="table table-striped" cellspacing="0" id="addTargetTable">
        <thead>
          <tr>
            <th scope="col">Target Name
              <div class="custom-icon icon-arrow-combo fnt-xxs"></div>
            </th>
            <th scope="col">ID
              <div class="custom-icon icon-arrow-combo fnt-xxs"></div>
            </th>
            <th scope="col">UCSC Link</th>
          </tr>
        </thead>
        <tbody class="fnt-xs tbody table--edit">
          <tr class="error-circle">
            <td class="text-uppercase" contenteditable="false">cde</td>
            <td class="text-uppercase" contenteditable="false">NM_000155(GAA):YUE7C</td>
            <td> <a class="link" href="javascript:void(0)">link</a>
              <div class="edit">
                <div class="custom-icon icon-pencil mr-4 editbtn"></div><img class="saveBtn js-hide" src="img/icons/Save.svg" alt="Save"/>
                <div class="custom-icon icon-trash js-delete-row"></div>
              </div>
            </td>
          </tr>
          <tr class="error-circle">
            <td class="text-uppercase">cde</td>
            <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
            <td> <a class="link" href="javascript:void(0)">link</a>
              <div class="edit">
                <div class="custom-icon icon-pencil mr-4 editbtn"></div><img class="saveBtn js-hide" src="img/icons/Save.svg" alt="Save"/>
                <div class="custom-icon icon-trash js-delete-row"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-uppercase">fgh</td>
            <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
            <td> <a class="link" href="javascript:void(0)">link</a>
              <div class="edit">
                <div class="custom-icon icon-pencil mr-4 editbtn"></div><img class="saveBtn js-hide" src="img/icons/Save.svg" alt="Save"/>
                <div class="custom-icon icon-trash js-delete-row"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-uppercase">ijk</td>
            <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
            <td> <a class="link" href="javascript:void(0)">link</a>
              <div class="edit">
                <div class="custom-icon icon-pencil mr-4 editbtn"></div><img class="saveBtn js-hide" src="img/icons/Save.svg" alt="Save"/>
                <div class="custom-icon icon-trash js-delete-row"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-uppercase">lmn</td>
            <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
            <td> <a class="link" href="javascript:void(0)">link</a>
              <div class="edit">
                <div class="custom-icon icon-pencil mr-4 editbtn"></div><img class="saveBtn js-hide" src="img/icons/Save.svg" alt="Save"/>
                <div class="custom-icon icon-trash js-delete-row"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-uppercase">opq</td>
            <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
            <td> <a class="link" href="javascript:void(0)">link</a>
              <div class="edit">
                <div class="custom-icon icon-pencil mr-4 editbtn"></div><img class="saveBtn js-hide" src="img/icons/Save.svg" alt="Save"/>
                <div class="custom-icon icon-trash js-delete-row"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-uppercase">rst</td>
            <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
            <td> <a class="link" href="javascript:void(0)">link</a>
              <div class="edit">
                <div class="custom-icon icon-pencil mr-4 editbtn"></div><img class="saveBtn js-hide" src="img/icons/Save.svg" alt="Save"/>
                <div class="custom-icon icon-trash js-delete-row"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-uppercase">ijk</td>
            <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
            <td> <a class="link" href="javascript:void(0)">link</a>
              <div class="edit">
                <div class="custom-icon icon-pencil mr-4 editbtn"></div><img class="saveBtn js-hide" src="img/icons/Save.svg" alt="Save"/>
                <div class="custom-icon icon-trash js-delete-row"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-uppercase">fgh</td>
            <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
            <td> <a class="link" href="javascript:void(0)">link</a>
              <div class="edit">
                <div class="custom-icon icon-pencil mr-4 editbtn"></div><img class="saveBtn js-hide" src="img/icons/Save.svg" alt="Save"/>
                <div class="custom-icon icon-trash js-delete-row"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-uppercase">ijk</td>
            <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
            <td> <a class="link" href="javascript:void(0)">link</a>
              <div class="edit">
                <div class="custom-icon icon-pencil mr-4 editbtn"></div><img class="saveBtn js-hide" src="img/icons/Save.svg" alt="Save"/>
                <div class="custom-icon icon-trash js-delete-row"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-uppercase">ijk</td>
            <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
            <td> <a class="link" href="javascript:void(0)">link</a>
              <div class="edit">
                <div class="custom-icon icon-pencil mr-4 editbtn"></div><img class="saveBtn js-hide" src="img/icons/Save.svg" alt="Save"/>
                <div class="custom-icon icon-trash js-delete-row"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-uppercase">ijk</td>
            <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
            <td> <a class="link" href="javascript:void(0)">link</a>
              <div class="edit">
                <div class="custom-icon icon-pencil mr-4 editbtn"></div><img class="saveBtn js-hide" src="img/icons/Save.svg" alt="Save"/>
                <div class="custom-icon icon-trash js-delete-row"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-uppercase">ijk</td>
            <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
            <td> <a class="link" href="javascript:void(0)">link</a>
              <div class="edit">
                <div class="custom-icon icon-pencil mr-4 editbtn"></div><img class="saveBtn js-hide" src="img/icons/Save.svg" alt="Save"/>
                <div class="custom-icon icon-trash js-delete-row"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-uppercase">ijk</td>
            <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
            <td> <a class="link" href="javascript:void(0)">link</a>
              <div class="edit">
                <div class="custom-icon icon-pencil mr-4 editbtn"></div><img class="saveBtn js-hide" src="img/icons/Save.svg" alt="Save"/>
                <div class="custom-icon icon-trash js-delete-row"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-uppercase">ijk</td>
            <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
            <td> <a class="link" href="javascript:void(0)">link</a>
              <div class="edit">
                <div class="custom-icon icon-pencil mr-4 editbtn"></div><img class="saveBtn js-hide" src="img/icons/Save.svg" alt="Save"/>
                <div class="custom-icon icon-trash js-delete-row"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-uppercase">ijk</td>
            <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
            <td> <a class="link" href="javascript:void(0)">link</a>
              <div class="edit">
                <div class="custom-icon icon-pencil mr-4 editbtn"></div><img class="saveBtn js-hide" src="img/icons/Save.svg" alt="Save"/>
                <div class="custom-icon icon-trash js-delete-row"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-uppercase">ijk</td>
            <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
            <td> <a class="link" href="javascript:void(0)">link</a>
              <div class="edit">
                <div class="custom-icon icon-pencil mr-4 editbtn"></div><img class="saveBtn js-hide" src="img/icons/Save.svg" alt="Save"/>
                <div class="custom-icon icon-trash js-delete-row"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-uppercase">ijk</td>
            <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
            <td> <a class="link" href="javascript:void(0)">link</a>
              <div class="edit">
                <div class="custom-icon icon-pencil mr-4 editbtn"></div><img class="saveBtn js-hide" src="img/icons/Save.svg" alt="Save"/>
                <div class="custom-icon icon-trash js-delete-row"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-uppercase">ijk</td>
            <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
            <td> <a class="link" href="javascript:void(0)">link</a>
              <div class="edit">
                <div class="custom-icon icon-pencil mr-4 editbtn"></div><img class="saveBtn js-hide" src="img/icons/Save.svg" alt="Save"/>
                <div class="custom-icon icon-trash js-delete-row"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-uppercase">opq</td>
            <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
            <td> <a class="link" href="javascript:void(0)">link</a>
              <div class="edit">
                <div class="custom-icon icon-pencil mr-4 editbtn"></div><img class="saveBtn js-hide" src="img/icons/Save.svg" alt="Save"/>
                <div class="custom-icon icon-trash js-delete-row"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-uppercase">rst</td>
            <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
            <td> <a class="link" href="javascript:void(0)">link</a>
              <div class="edit">
                <div class="custom-icon icon-pencil mr-4 editbtn"></div><img class="saveBtn js-hide" src="img/icons/Save.svg" alt="Save"/>
                <div class="custom-icon icon-trash js-delete-row"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-uppercase">ijk</td>
            <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
            <td> <a class="link" href="javascript:void(0)">link</a>
              <div class="edit">
                <div class="custom-icon icon-pencil mr-4 editbtn"></div><img class="saveBtn js-hide" src="img/icons/Save.svg" alt="Save"/>
                <div class="custom-icon icon-trash js-delete-row"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-uppercase">fgh</td>
            <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
            <td> <a class="link" href="javascript:void(0)">link</a>
              <div class="edit">
                <div class="custom-icon icon-pencil mr-4 editbtn"></div><img class="saveBtn js-hide" src="img/icons/Save.svg" alt="Save"/>
                <div class="custom-icon icon-trash js-delete-row"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-uppercase">ijk</td>
            <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
            <td> <a class="link" href="javascript:void(0)">link</a>
              <div class="edit">
                <div class="custom-icon icon-pencil mr-4 editbtn"></div><img class="saveBtn js-hide" src="img/icons/Save.svg" alt="Save"/>
                <div class="custom-icon icon-trash js-delete-row"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-uppercase">ijk</td>
            <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
            <td> <a class="link" href="javascript:void(0)">link</a>
              <div class="edit">
                <div class="custom-icon icon-pencil mr-4 editbtn"></div><img class="saveBtn js-hide" src="img/icons/Save.svg" alt="Save"/>
                <div class="custom-icon icon-trash js-delete-row"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-uppercase">ijk</td>
            <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
            <td> <a class="link" href="javascript:void(0)">link</a>
              <div class="edit">
                <div class="custom-icon icon-pencil mr-4 editbtn"></div><img class="saveBtn js-hide" src="img/icons/Save.svg" alt="Save"/>
                <div class="custom-icon icon-trash js-delete-row"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-uppercase">ijk</td>
            <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
            <td> <a class="link" href="javascript:void(0)">link</a>
              <div class="edit">
                <div class="custom-icon icon-pencil mr-4 editbtn"></div><img class="saveBtn js-hide" src="img/icons/Save.svg" alt="Save"/>
                <div class="custom-icon icon-trash js-delete-row"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-uppercase">ijk</td>
            <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
            <td> <a class="link" href="javascript:void(0)">link</a>
              <div class="edit">
                <div class="custom-icon icon-pencil mr-4 editbtn"></div><img class="saveBtn js-hide" src="img/icons/Save.svg" alt="Save"/>
                <div class="custom-icon icon-trash js-delete-row"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-uppercase">ijk</td>
            <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
            <td> <a class="link" href="javascript:void(0)">link</a>
              <div class="edit">
                <div class="custom-icon icon-pencil mr-4 editbtn"></div><img class="saveBtn js-hide" src="img/icons/Save.svg" alt="Save"/>
                <div class="custom-icon icon-trash js-delete-row"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-uppercase">ijk</td>
            <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
            <td> <a class="link" href="javascript:void(0)">link</a>
              <div class="edit">
                <div class="custom-icon icon-pencil mr-4 editbtn"></div><img class="saveBtn js-hide" src="img/icons/Save.svg" alt="Save"/>
                <div class="custom-icon icon-trash js-delete-row"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-uppercase">ijk</td>
            <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
            <td> <a class="link" href="javascript:void(0)">link</a>
              <div class="edit">
                <div class="custom-icon icon-pencil mr-4 editbtn"></div><img class="saveBtn js-hide" src="img/icons/Save.svg" alt="Save"/>
                <div class="custom-icon icon-trash js-delete-row"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-uppercase">ijk</td>
            <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
            <td> <a class="link" href="javascript:void(0)">link</a>
              <div class="edit">
                <div class="custom-icon icon-pencil mr-4 editbtn"></div><img class="saveBtn js-hide" src="img/icons/Save.svg" alt="Save"/>
                <div class="custom-icon icon-trash js-delete-row"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-uppercase">ijk</td>
            <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
            <td> <a class="link" href="javascript:void(0)">link</a>
              <div class="edit">
                <div class="custom-icon icon-pencil mr-4 editbtn"></div><img class="saveBtn js-hide" src="img/icons/Save.svg" alt="Save"/>
                <div class="custom-icon icon-trash js-delete-row"></div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</li>

src/pug/layouts/custom-flow/target-summary.pug
// Order Flow Step 1
li.order__flow.js-hide#sticky-content.step2.bx-shadow.fnt-sm
                                                                    
    .d-flex.justify-content-between.align-items-center.pb-4.mb-2.pt-2.order--head
        h2.d-inline-block.fnt-md.black1d.fnt-semibold  Target Summary
        .next.d-flex.align-items-center
            .next--delet-order(data-toggle='tooltip', data-placement='bottom', title='Delete')
                span.d-inline-block 
                span.d-inline-block  
                span.d-inline-block
            button.button.button-secondary.flow-disabled.m-15.button--flow.opacity_5.d-inline-block.text-uppercase save for later
            button.button.button-primary.flow-disabled.button--flow.flow-next.opacity_5.d-inline-block.text-uppercase.mr-0(disabled='') continue
    .target-table-sm
        .d-flex
            .succed-target.pl-4
                span.succed-target__item 28
                span.succed-target__item  of
                span.succed-target__item.ml-1  30
                span.succed-target__item  targets added successfully
            .error-target.ml-5
                span.error-target__item 2
                span.error-target__item  target gene IDs error
        .d-flex.justify-content-between.align-items-center.py-4
            h2.fnt-semibold.fnt-md.target-summary-tag.js-hide.text-capitalize target summary
            button.add-target#addTarget.text-capitalize.fnt-xs.button.button-secondary.px-2.d-inline-block.fnt-700 + Add Target
            .col-9.p-0.d-flex.justify-content-end.align-items-center          
                
                .col-6.pl-md-0.searchbox.d-flex
                    input.w-100.fnt-xs(type='text', placeholder='Search target name or ID', name='search')        
                include ../../components/pagination.pug
        // Target Summary
        .design-name.p-0
            // COMMON COMPONENT TABLE
            table.table.table-striped(cellspacing="0")#addTargetTable
                thead
                    tr
                        th(scope='col') Target Name
                            .custom-icon.icon-arrow-combo.fnt-xxs
                        th(scope='col') ID
                            .custom-icon.icon-arrow-combo.fnt-xxs
                        th(scope='col') UCSC Link
                        
                tbody.fnt-xs.tbody.table--edit
                    tr.error-circle
                        td.text-uppercase(contenteditable='false') cde
                        td.text-uppercase(contenteditable='false') NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row

                    tr.error-circle
                        td.text-uppercase cde
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                        
                    tr
                        td.text-uppercase fgh
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase lmn
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase opq
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase rst
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                        
                    tr
                        td.text-uppercase fgh
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase opq
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase rst
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                        
                    tr
                        td.text-uppercase fgh
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4.editbtn
                                img.saveBtn.js-hide(src="img/icons/Save.svg", alt="Save")
                                .custom-icon.icon-trash.js-delete-row








                    
