src/pug/layouts/custom-flow/validated-panel.pug
// One matched item

.overview.js-hide
  .row.bg-white
    .col-5
      .d-flex.justify-content-between.mx-2.py-4
        h2.fnt-md.fnt-semibold.l-36 Overview
      .row.overview-panel.mx-2  
        .p-4.w-100
            h2.fnt-semibold.mb-2 CP01
            p.fnt-sm.mb-3 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            .row
                ul.row.overview-panel-list
                    li.col-12.col-xl-6.d-flex.justify-content-between.overview-panel-list__items
                        h3.col-7.fnt-xs Coverage
                        span.col-5.p-0.fnt-700.fnt-sm -
                    li.col-12.col-xl-6.d-flex.justify-content-between.overview-panel-list__items
                        h3.col-7.fnt-xs Amplicon size
                        span.col-5.p-0.fnt-700.fnt-sm 500 bp
                    li.col-12.col-xl-6.d-flex.justify-content-between.overview-panel-list__items
                        h3.col-7.fnt-xs No. of targets
                        span.col-5.p-0.fnt-700.fnt-sm 50
                    li.col-12.col-xl-6.d-flex.justify-content-between.overview-panel-list__items
                        h3.col-7.fnt-xs Genome
                        span.col-5.p-0.fnt-700.fnt-sm Human hg19
                    li.col-12.col-xl-6.d-flex.justify-content-between.overview-panel-list__items
                        h3.col-7.fnt-xs Est. No. of Amplicons
                        span.col-5.p-0.fnt-700.fnt-sm 19
                    li.col-12.col-xl-6.d-flex.justify-content-between.overview-panel-list__items
                        h3.col-7.fnt-xs Assay type
                        span.col-5.p-0.fnt-700.fnt-sm DNA
      .row.mx-2.justify-content-end
        input.mt-3.float-right.button.button-primary.submit.button--submit02.flow-next(type="submit", data-toggle='modal', data-target='#requestSubmit' value="SUBMIT")

    // Overview Tabel
    .col-7
      //- .overview-table
      .target-table-sm
        .d-flex.justify-content-between.align-items-center.py-4
            h2.fnt-semibold.fnt-md.target-summary-tag.text-capitalize target summary
            .col-9.p-0.d-flex.justify-content-end.align-items-center           
                .col-6.pl-md-0.searchbox.d-flex
                    input.w-100.fnt-xs(type='text', placeholder='Search target name or ID', name='search')        
                include ../../components/pagination.pug
        // Target Summary
        .design-name.p-0
            // COMMON COMPONENT TABLE
            table.table.table-striped(cellspacing="0")
                thead
                    tr
                        th(scope='col') Target Name
                            .custom-icon.icon-arrow-combo.fnt-xxs
                        th(scope='col') ID
                            .custom-icon.icon-arrow-combo.fnt-xxs
                        th(scope='col') UCSC Link
                        
                tbody.fnt-xs.tbody.scrollbar
                    tr
                        td.text-uppercase abc
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4
                                .custom-icon.icon-trash.delet-error-row
                        
                    tr
                        td.text-uppercase cde
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit
                                .custom-icon.icon-pencil.mr-4
                                .custom-icon.icon-trash.delet-error-row
                        
                    tr
                        td.text-uppercase fgh
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit.js-hide
                                .custom-icon.icon-pencil.mr-4
                                .custom-icon.icon-trash.delet-error-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit.js-hide
                                .custom-icon.icon-pencil.mr-4
                                .custom-icon.icon-trash.delet-error-row
                    tr
                        td.text-uppercase lmn
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit.js-hide
                                .custom-icon.icon-pencil.mr-4
                                .custom-icon.icon-trash.delet-error-row
                    tr
                        td.text-uppercase opq
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit.js-hide
                                .custom-icon.icon-pencil.mr-4
                                .custom-icon.icon-trash.delet-error-row
                    tr
                        td.text-uppercase rst
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit.js-hide
                                .custom-icon.icon-pencil.mr-4
                                .custom-icon.icon-trash.delet-error-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit.js-hide
                                .custom-icon.icon-pencil.mr-4
                                .custom-icon.icon-trash.delet-error-row
                        
                    tr
                        td.text-uppercase fgh
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit.js-hide
                                .custom-icon.icon-pencil.mr-4
                                .custom-icon.icon-trash.delet-error-row
                    tr
                        td.text-uppercase ijk
                        td.text-uppercase NM_000155(GAA):YUE7C
                        td 
                            a.link(href="javascript:void(0)") link
                            .edit.js-hide
                                .custom-icon.icon-pencil.mr-4
                                .custom-icon.icon-trash.delet-error-row

                    

        

dist/pug/layouts/custom-flow/validated-panel.html

<!-- One matched item-->
<div class="overview js-hide">
  <div class="row bg-white">
    <div class="col-5">
      <div class="d-flex justify-content-between mx-2 py-4">
        <h2 class="fnt-md fnt-semibold l-36">Overview</h2>
      </div>
      <div class="row overview-panel mx-2"> 
        <div class="p-4 w-100">
          <h2 class="fnt-semibold mb-2">CP01</h2>
          <p class="fnt-sm mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <div class="row">
            <ul class="row overview-panel-list">
              <li class="col-12 col-xl-6 d-flex justify-content-between overview-panel-list__items">
                <h3 class="col-7 fnt-xs">Coverage</h3><span class="col-5 p-0 fnt-700 fnt-sm">-</span>
              </li>
              <li class="col-12 col-xl-6 d-flex justify-content-between overview-panel-list__items">
                <h3 class="col-7 fnt-xs">Amplicon size</h3><span class="col-5 p-0 fnt-700 fnt-sm">500 bp</span>
              </li>
              <li class="col-12 col-xl-6 d-flex justify-content-between overview-panel-list__items">
                <h3 class="col-7 fnt-xs">No. of targets</h3><span class="col-5 p-0 fnt-700 fnt-sm">50</span>
              </li>
              <li class="col-12 col-xl-6 d-flex justify-content-between overview-panel-list__items">
                <h3 class="col-7 fnt-xs">Genome</h3><span class="col-5 p-0 fnt-700 fnt-sm">Human hg19</span>
              </li>
              <li class="col-12 col-xl-6 d-flex justify-content-between overview-panel-list__items">
                <h3 class="col-7 fnt-xs">Est. No. of Amplicons</h3><span class="col-5 p-0 fnt-700 fnt-sm">19</span>
              </li>
              <li class="col-12 col-xl-6 d-flex justify-content-between overview-panel-list__items">
                <h3 class="col-7 fnt-xs">Assay type</h3><span class="col-5 p-0 fnt-700 fnt-sm">DNA</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row mx-2 justify-content-end">
        <input class="mt-3 float-right button button-primary submit button--submit02 flow-next" type="submit" data-toggle="modal" data-target="#requestSubmit" value="SUBMIT"/>
      </div>
    </div>
    <!-- Overview Tabel-->
    <div class="col-7">
      <div class="target-table-sm">
        <div class="d-flex justify-content-between align-items-center py-4">
          <h2 class="fnt-semibold fnt-md target-summary-tag text-capitalize">target summary</h2>
          <div class="col-9 p-0 d-flex justify-content-end align-items-center">          
            <div class="col-6 pl-md-0 searchbox d-flex">
              <input class="w-100 fnt-xs" type="text" placeholder="Search target name or ID" name="search"/>
            </div>
            <!-- START PAGINATION-->
            <nav class="float-right pagiNav" aria-label="Page navigation">
              <ul class="pagination align-items-center">
                <li class="page-item"><a class="text-center page-link" href="#" aria-label="Previous"><img class="page-link--left img-fluid" src="img/icons/arrow01.svg"/></a></li>
                <li class="page-item fnt-xs">
                  <div class="ui selection dropdown form-dropdown pagi-dropdown text-center">
                    <input type="hidden" name="DataStatus"/>
                    <div class="defualt text">Rows <span class="displayValue">10 </span>of <span class="totalValue">100</span></div>
                    <div class="menu hidden">
                      <div class="item text-center" data-value="1-10">10</div>
                      <div class="item text-center" data-value="20">20</div>
                      <div class="item text-center" data-value="30">30</div>
                      <div class="item text-center" data-value="40">40</div>
                    </div>
                  </div>
                </li>
                <li class="page-item"><a class="page-link" href="#" aria-label="Next"><img class="img-fluid" src="img/icons/arrow01.svg"/></a></li>
              </ul>
            </nav>
            <!-- END PAGINATION-->
          </div>
        </div>
        <!-- Target Summary-->
        <div class="design-name p-0">
          <!-- COMMON COMPONENT TABLE-->
          <table class="table table-striped" cellspacing="0">
            <thead>
              <tr>
                <th scope="col">Target Name
                  <div class="custom-icon icon-arrow-combo fnt-xxs"></div>
                </th>
                <th scope="col">ID
                  <div class="custom-icon icon-arrow-combo fnt-xxs"></div>
                </th>
                <th scope="col">UCSC Link</th>
              </tr>
            </thead>
            <tbody class="fnt-xs tbody scrollbar">
              <tr>
                <td class="text-uppercase">abc</td>
                <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
                <td> <a class="link" href="javascript:void(0)">link</a>
                  <div class="edit">
                    <div class="custom-icon icon-pencil mr-4"></div>
                    <div class="custom-icon icon-trash delet-error-row"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-uppercase">cde</td>
                <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
                <td> <a class="link" href="javascript:void(0)">link</a>
                  <div class="edit">
                    <div class="custom-icon icon-pencil mr-4"></div>
                    <div class="custom-icon icon-trash delet-error-row"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-uppercase">fgh</td>
                <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
                <td> <a class="link" href="javascript:void(0)">link</a>
                  <div class="edit js-hide">
                    <div class="custom-icon icon-pencil mr-4"></div>
                    <div class="custom-icon icon-trash delet-error-row"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-uppercase">ijk</td>
                <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
                <td> <a class="link" href="javascript:void(0)">link</a>
                  <div class="edit js-hide">
                    <div class="custom-icon icon-pencil mr-4"></div>
                    <div class="custom-icon icon-trash delet-error-row"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-uppercase">lmn</td>
                <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
                <td> <a class="link" href="javascript:void(0)">link</a>
                  <div class="edit js-hide">
                    <div class="custom-icon icon-pencil mr-4"></div>
                    <div class="custom-icon icon-trash delet-error-row"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-uppercase">opq</td>
                <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
                <td> <a class="link" href="javascript:void(0)">link</a>
                  <div class="edit js-hide">
                    <div class="custom-icon icon-pencil mr-4"></div>
                    <div class="custom-icon icon-trash delet-error-row"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-uppercase">rst</td>
                <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
                <td> <a class="link" href="javascript:void(0)">link</a>
                  <div class="edit js-hide">
                    <div class="custom-icon icon-pencil mr-4"></div>
                    <div class="custom-icon icon-trash delet-error-row"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-uppercase">ijk</td>
                <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
                <td> <a class="link" href="javascript:void(0)">link</a>
                  <div class="edit js-hide">
                    <div class="custom-icon icon-pencil mr-4"></div>
                    <div class="custom-icon icon-trash delet-error-row"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-uppercase">fgh</td>
                <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
                <td> <a class="link" href="javascript:void(0)">link</a>
                  <div class="edit js-hide">
                    <div class="custom-icon icon-pencil mr-4"></div>
                    <div class="custom-icon icon-trash delet-error-row"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="text-uppercase">ijk</td>
                <td class="text-uppercase">NM_000155(GAA):YUE7C</td>
                <td> <a class="link" href="javascript:void(0)">link</a>
                  <div class="edit js-hide">
                    <div class="custom-icon icon-pencil mr-4"></div>
                    <div class="custom-icon icon-trash delet-error-row"></div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
